{% load markdownify %}
{% load humanize %}
{% if note.note_comments.all %}
	<div class="comments_container">
		{% for comment in note.note_comments.all %}
			<div class="comment_container">
				<div class="meta_info">
					<a class="user" href="{% url 'sensei_app:activities_of_user' comment.login_author.pk %}">{{comment.login_author.nickname}}</a>
					<div class="date">
						{{comment.created_at}}
					</div>
				</div>
				<div class="comment_main">
					<div class="content comment_content">
						{{comment.content|markdownify}}
					</div>
					<div class="comment_reply">
						{% if user.is_authenticated %}
							<a class="inline_weak_button note_reply_open_button" type="button" name="reply_add_container_{{comment.pk}}">返信する</a>
						{% endif %}
						{% if request.user == comment.login_author %}
							<a href="{% url 'sensei_app:note_comment_delete' comment.pk %}" class="note_reply_open_button note_comment_delete inline_delete_button" type="button"  onclick="return confirm('削除してもよろしいですか？');">このコメントを削除する</a>
						{% endif %}
						<div class="reply_form_wrapper reply_add_container" id="reply_add_container_{{comment.pk}}">
							{% include "sensei_app/JLTCT/Note/Comments/reply_add.html" %}
						</div>
					</div>
				</div><!-- /.comment_main -->
			</div>
			<div class="replies" id="replies_{{comment.pk}}">
				{% include "sensei_app/JLTCT/Note/Comments/replies.html" %}
			</div>
		{% endfor %}
	</div>
{% else %}
	まだコメントがありません
{% endif %}
