{% extends "sensei_app/base.html" %}
{% block content %}
{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/register.min.css' %}">
</head>
<body>
	<div class="navbar">
		{% include 'sensei_app/navbar.html' %}
	</div><!-- /.navbar -->
	<div class="wrapper register_wrapper">
		<section class="register_container">
			<p class="form_head">パスワードリセット</p>
			<p class="form_desc">登録に使用したメールアドレスを入力してください。パスワードリセットのためのURLをお送りします</p>
			<form class="form_container" action="" method="POST">
				{{ form.non_field_errors }}
					{% for field in form %}
						{{ field }}
						<span class="form_error">{{ field.errors }}</span>
					{% endfor %}
				{% csrf_token %}
				<button type="submit" class="strong_button">送信</button>
			</form>
	</section>
	</div>
</body>
{% endblock %}
