{% extends 'sensei_app/base.html' %}
{% load static %}
{% load humanize %}
{% load markdownify %}
{% block title %}きまま{% endblock %}
{% block description %}
管理人が思ったことを書くという自己満です。暇を極めた方は読んであげてください。
{% endblock %}
{% block content %}

<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/blog.min.css' %}">
</head>

<body>
	<div class="navbar">
		{% include 'sensei_app/navbar.html' %}
	</div><!-- /.navbar -->
	<div class="wrapper blog_wrapper">
		<p class="section_head">きまま</p>
		<div class="left_column">
			<div class="blogs_container">
				{% if result == 1 %}
					{% include "sensei_app/result.html" %}
				{% else %}
					<p>「きまま」とは、新人日本語教師である僕が、日本語教育に関することをきままに書いた日記みたいなものです。日本語教育業界では何物でもない僕の書くことなので、読むに値しないことだらけだと思いますので、息抜き程度に読んであげてください。</p>
				{% endif %}
				
				<h2 class="subsection_head">特集</h2>
				<div class="subsection">
					<li><a class="link" href="https://www.atsumarenihongokyoushi.com/blog/5">新人日本語教師の奮闘記録 Part 1</a></li>
					<li><a class="link" href="https://www.atsumarenihongokyoushi.com/blog/6">新人日本語教師の奮闘記録 Part 2</a></li>
					<li><a class="link" href="https://www.atsumarenihongokyoushi.com/blog/7">新人日本語教師の奮闘記録 Part 3</a></li>				
				</div>
				<h2 class="subsection_head">きまま一覧</h2>

				<!--Blog_List-->
				{% for blog in blog_list %}
					{% if blog.public %}
						<div class="blog_container">
							<a class="blog_link" href="{% url 'sensei_app:blog_detail' blog.pk %}">
								<div class="thumbnail">
									{% if blog.thumbnail %}
										<img src="{{blog.thumbnail.url}}">
									{% else %}
										<img
											src="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Toppage/undraw_Design_thinking_re_644h.png"
											alt="">
									{% endif %}
								</div>
							</a>
							<div class="bottom">
								<div class="title">
									{{blog.title}}
								</div>
								<div class="meta_info">
									<div class="date">
										{{blog.updated_at|date:"Y/m/d f"}}
									</div>
									<a class="category" href="{% url 'sensei_app:blog_category_list' blog.category.category_slug %}">
									{{blog.category.category}}
									</a>
									{% if blog.tag.all %}
									<div class="tags">
										{% for tag in blog.tag.all %}
										<a class="tag" href="{% url 'sensei_app:blog_tag_list' tag.tag_slug %}">{{tag.tag}}</a>
										{% endfor %}
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="right_column">
			{% include "sensei_app/Blog/sidebar.html" %}
		</div>
	</div>
</body>

{% endblock %}