{% extends "sensei_app/base.html" %}
{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/register.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper register_wrapper">
		<div class="form_container">
			<form action="" method="POST">
    		{{ form.non_field_errors }}
				<div class="form_groups">

          {% for field in form %}
						<div class="form_group">
							<label>新しいメールアドレス</label>
							<span>{{ field }}</span>
							<span>{{ field.errors }}</span>
						</div>
          {% endfor %}
				</div>
    	{% csrf_token %}
    	<button type="submit" class="form_button" >送信</button>
			</form>
		</div>
	</div>
</body>
{% endblock %}
