{% extends "sensei_app/base.html" %}
{% block content %}
{% load markdownify %}
{% load static %}
{% load humanize %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/question.min.css' %}">
	<link rel="stylesheet" href="{% static 'sensei_app/css/user_info.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper user_info_wrapper">
		<p class="section_head">
			{% if user.nickname %}
				{{user.nickname}}さんのページ
			{% endif %}
		</p>
		<div class="left_column">
			<div class="user_info_top">
				<div class="user_info">
				<div class="user_info_row">
					<div class="user_info_left">
						ユーザー名
					</div>
					<div class="user_info_right">
						<p>{{user.email}}</p>
					</div>
				</div>
				<div class="user_info_row">
					<div class="user_info_left">
						ニックネーム
					</div>
					<div class="user_info_right">
						{{user.nickname}}
					</div>
				</div>
				<div class="user_info_row">
					<div class="user_info_left">
						登録日
					</div>
					<div class="user_info_right">
						{{user.date_joined|date:'Y-m-d'}}
					</div>
				</div>
				<div class="user_info_row">
					<div class="user_info_left">
						質問数
					</div>
					<div class="user_info_right">
						{{user.login_author.count}}
					</div>
				</div>
				<div class="user_info_row">
					<div class="user_info_left">
						回答数
					</div>
					<div class="user_info_right">
						{{user.login_author_answer.count}}
					</div>
				</div>
			</div>
				<div class="user_info_menu">
					<li>
						<a class="nav-item nav-link" href="{% url 'sensei_app:user_update' user.pk %}">ユーザー情報更新</a>
					</li>
					<li>
						<a class="nav-item nav-link" href="{% url 'sensei_app:password_change' %}">パスワードの変更</a>
					</li>
					<li>
						<a class="nav-item nav-link" href="{% url 'sensei_app:email_change' %}">メールアドレスの変更</a>
					</li>
				</div>
			</div>
			<div class="user_info_list question_list_wrapper">
			<p class="section_head">
				{% if user.nickname %}
					{{user.nickname}}さんの質問
				{% else %}
					あなたの質問
				{% endif %}
			</p>
			<div class="questions">
				{% include "sensei_app/Question/question_list_snippet.html" %}
				<a class="more_button" href="{% url 'sensei_app:all_questions_of_user' user.pk %}">もっとみる</a>
			</div>
		</div>
			<div class="user_info_list question_list_wrapper">
				<p class="section_head">
					{% if user.nickname %}
						{{user.nickname}}さんの回答
					{% else %}
						あなたの回答
					{% endif %}
				</p>
				<div class="questions">
					{% include "sensei_app/Question/answer_list_snippet.html" %}
				<a class="more_button" href="{% url 'sensei_app:all_answers_of_user' user.pk %}">もっとみる</a>
			</div>
			</div>
		</div>
		<div class="right_column">
			{% include "sensei_app/Question/sidebar.html" %}
		</div>
	</div>
{% endblock %}
