{% extends "sensei_app/base.html" %}
{% block content %}
{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/register.min.css' %}">
</head>
<body>
	<div class="navbar">
		{% include 'sensei_app/navbar.html' %}
	</div><!-- /.navbar -->
	<div class="wrapper register_wrapper plain_wrapper">
		<p class="plain_text">
			会員登録確認メールを送信しました。まだ、会員登録は完了していません。<br>
			確認メールを送信しましたので、確認メールに記載されているリンクから本登録を行ってください。
		</p>
		<a class="weak_button" href="{% url 'sensei_app:toppage' %}">トップページに戻る</a>
	</div>
</body>
{% endblock %}
