{% load markdownify %}
{% load markdownx %}

<div class="update">
	<i class="far fa-clock"></i>{{exp.updated}}
</div>
<div class="explanation exp_content">
	{{ exp.explanation|markdown_to_html }}
</div>
{% if exp.answer_1 %}
	<div class="answer_exp_container">
		<div class="answer_exp {% if exp.answer == 1 %}correct_answer{% endif %}"><!--answer_1-->
			{% if exp.answer_abc %}
				<div class="answer_exp_left">
					a.
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_1|markdownify}}
				</div>
			{% else %}
				<div class="answer_exp_left">
					1
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_1|markdownify}}
				</div>
			{% endif %}
		</div>
		<div class="answer_exp {% if exp.answer == 2 %}correct_answer{% endif %}"><!--answer_2-->
			{% if exp.answer_abc %}
				<div class="answer_exp_left">
					b
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_2|markdownify}}
				</div>
			{% else %}
				<div class="answer_exp_left">
					2
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_2|markdownify}}
				</div>
			{% endif %}
		</div>
		<div class="answer_exp {% if exp.answer == 3 %}correct_answer{% endif %}"><!--answer_3-->
			{% if exp.answer_abc %}
				<div class="answer_exp_left">
					c
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_3|markdownify}}
				</div>
			{% else %}
				<div class="answer_exp_left">
					3
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_3|markdownify}}
				</div>
			{% endif %}
		</div>
		<div class="answer_exp {% if exp.answer == 4 %}correct_answer{% endif %}"><!--answer_4-->
			{% if exp.answer_abc %}
				<div class="answer_exp_left">
					d
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_4|markdownify}}
				</div>
			{% else %}
				<div class="answer_exp_left">
					4
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_4|markdownify}}
				</div>
			{% endif %}
		</div>
		{% if exp.answer_5 %}
			<div class="answer_exp {% if exp.answer == 5 %}correct_answer{% endif %}"><!--answer_5-->
				{% if exp.answer_abc %}
					<div class="answer_exp_left">
						e
					</div>
					<div class="answer_exp_right exp_content">
						{{exp.answer_5|markdownify}}
					</div>
				{% else %}
					<div class="answer_exp_left">
						5
					</div>
					<div class="answer_exp_right exp_content">
						{{exp.answer_5|markdownify}}
					</div>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endif %}
