{% if exp_query %}
	<p class="search_result result"><span>{{ exp_query }}</span>に関連する過去問解説</p>
{% elif selected_tag%}
	<p class="search_result tag_result"><span>{{ selected_tag }}</span>に関連する過去問解説</p>
{% endif %}
	<div class="exp_list_container">
		{% if exp_list %}
			{% for exp in exp_list %}
				<div class="exp_container">
					<a href="{% url 'sensei_app:exp_detail' year=exp.year section=exp.section question_num=exp.question_num %}#{{exp.question_num_small}}" class="exam_question_num_head">
						<div class="head">{{exp.question_head}}</div>
						<div class="info">
							{{exp.year}}年度/試験{{exp.convert_section_roman}}/問題{{exp.question_num}}/問{{exp.question_num_small}}
						</div>
					</a>
				</div>
			{% endfor %}
		{% else %}
			見つかりませんでした
		{% endif %}
	</div>
