<div class="year_section">
	<div class="exam_year_container" id="2020">
		<p class="exam_year_head">2020年(令和2年)</p>
		<div class="exam_section_container" id="2020_collapse">
			<p class="exam_section_head" id="section_1">試験I</p>
			<div class="exam_question_num_container" id="2020_section_1_collapse">
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=1 %}" class="exam_question_num_head">問題1</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=2 %}" class="exam_question_num_head">問題2</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=3 %}" class="exam_question_num_head">問題3</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=4 %}" class="exam_question_num_head">問題4</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=5 %}" class="exam_question_num_head">問題5</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=6 %}" class="exam_question_num_head">問題6</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=7 %}" class="exam_question_num_head">問題7</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=8 %}" class="exam_question_num_head">問題8</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=9 %}" class="exam_question_num_head">問題9</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=10 %}" class="exam_question_num_head">問題10</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=11 %}" class="exam_question_num_head">問題11</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=12 %}" class="exam_question_num_head">問題12</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=13 %}" class="exam_question_num_head">問題13</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=14 %}" class="exam_question_num_head">問題14</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=1 question_num=15 %}" class="exam_question_num_head">問題15</a>
			</div>

			<p class="exam_section_head" id="section_2">試験II</p>
			<div class="exam_question_num_container" id="2020_section_2_collapse">
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=2 question_num=1 %}" class="exam_question_num_head">問題1</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=2 question_num=2 %}" class="exam_question_num_head">問題2</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=2 question_num=3 %}" class="exam_question_num_head">問題3</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=2 question_num=4 %}" class="exam_question_num_head">問題4</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=2 question_num=5 %}" class="exam_question_num_head">問題5</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=2 question_num=6 %}" class="exam_question_num_head">問題6</a>
			</div>

			<p class="exam_section_head" id="section_3">試験III</p>
			<div class="exam_question_num_container" id="2020_section_3_collapse">
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=1 %}" class="exam_question_num_head">問題1</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=2 %}" class="exam_question_num_head">問題2</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=3 %}" class="exam_question_num_head">問題3</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=4 %}" class="exam_question_num_head">問題4</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=5 %}" class="exam_question_num_head">問題5</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=6 %}" class="exam_question_num_head">問題6</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=7 %}" class="exam_question_num_head">問題7</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=8 %}" class="exam_question_num_head">問題8</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=9 %}" class="exam_question_num_head">問題9</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=10 %}" class="exam_question_num_head">問題10</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=11 %}" class="exam_question_num_head">問題11</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=12 %}" class="exam_question_num_head">問題12</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=13 %}" class="exam_question_num_head">問題13</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=14 %}" class="exam_question_num_head">問題14</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=15 %}" class="exam_question_num_head">問題15</a>
				<a href="{% url 'sensei_app:exp_detail' year=2020 section=3 question_num=16 %}" class="exam_question_num_head">問題16</a>
			</div>

		</div><!--section container-->
	</div><!--year-->
</div>

<script type="text/javascript">
	$(document).on('click', '.exam_year_head', function(event){
		year = $(this).parent().attr('id')
		$('#' + year + '_collapse').slideToggle('fast')
	})

	$(document).on('click', '.exam_section_head', function(event){
		year = $(this).parent().parent().attr('id')
		section = $(this).attr('id')
		$('#' + year + '_' + section + '_collapse').slideToggle('fast')
		$('#' + year + '_' + section + '_collapse').css('display', 'flex')
	})
</script>
