{% extends 'sensei_app/base.html' %}
{% block content %}
{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/sitedesc.min.css' %}">
</head>
<body>
	<div class="navbar">
		{% include 'sensei_app/navbar.html' %}
	</div><!-- /.navbar -->
	<div class="wrapper sitedesc_wrapper">
		<p class="section_head">集まれ日本語教師!とは？</p>
		<div class="sitedesc_container">
			<p class="top_desc">
				「集まれ日本語教師!」は日本語教育に携わる人が集まるコミュニティです。日本語教育に興味がある方であれば、日本語教師歴・国籍・年齢・性別等は<strong>一切問いません!</strong>「集まれ日本語教師!」では{{current_date|date:"Y"}}年{{current_date|date:"M"}}時点で以下のサービスを提供しています。サービスはどんどん拡充していく予定なので、お楽しみに!
			</p>
			<div class="services_container">
				<div class="service_container"><!--みんなの質問-->
					<h3 class="service_name">
						みんなの質問
					</h3>
					<div class="service_desc_container">
						<div class="service_desc">
							<p>
								「みんなの質問」では、日本語・日本語教育に関する質問を誰でもすることができます。どんな些細なことでも質問してみてください。あなたが疑問に思っているということは、他の人も同じ疑問を抱いているはずです。もちろん、回答することもできるので、自分の知識のアウトプットも兼ねて、みんなの質問に答えましょう!
							</p>
							<ul class="login_user_perks">
								<li>「マイページ」で自分の質問・回答を確認することができます。</li>
								<li>過去の質問・回答を削除することができます。</li>
								<li>自分の質問に「補足」を追加することができます。</li>
								<li>自分の質問に「投票」を追加して、みんなにアンケートをとることができます。</li>
								<li>みんなの回答にいいねをすることができます。</li>
							</ul>
						</div>
						<div class="service_img">
							<img src="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Toppage/toppage_questions.png" alt="">
						</div>
					</div>
				</div>
				<div class="service_container"><!--検定試験対策-->
					<h3 class="service_name">
						検定試験対策
					</h3>
					<div class="service_desc_container">
						<div class="service_desc">
							<p>
								「検定試験対策」では、管理人が日本語教育能力検定の頻出項目をまとめたノートを見ることができます。検定試験を控えている方はもちろん、すでに合格された方も復習のために読んでいただければと思います。
							</p>
							<ul class="login_user_perks">
								<li>ノートをお気に入り登録することができ、「マイページ」でいつでも読むことができます。</li>
								<li>コメントをできるようになります。</li>
							</ul>
						</div>
						<div class="service_img">
							<img src="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Toppage/toppage_jltct.png.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
