{% if user.is_authenticated %}
	{% if request.user in note.likes.all %}
		<button type="button" name="{{note.pk}}" class="like_button like_button_liked note_like_button note_like_button_liked">
			<span class="like_num">{{note.total_likes}}</span>
		</button>
	{% else %}
		<button type="button" name="{{note.pk}}" class="like_button note_like_button note_like_button_unliked">
			<span class="like_num">{{note.total_likes}}</span>
		</button>
	{% endif %}
{% else %}
		<a class="note_like_button" href="{% url 'sensei_app:login' %}">
			{{note.total_likes}}
		</a>
{% endif %}
