@import "color_list.scss";
@import "class_list.scss";


.blog_wrapper{
	justify-content: space-between;
	/* snippet */
	.left_column{
		/* blog_top */
		.blogs_container{
			.blog_container{
				margin-bottom: 2rem;
				display: flex;
				flex-wrap: wrap;
				border: 1px solid $border-secondary;
				transition: 0.2s;
				&:hover{
					transition: 0.2s;
					box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem $border-primary;
				}
				.blog_link{
					width: 100%;
					.thumbnail{
						border-bottom: 1px solid $border-secondary;
						text-align: center;
						width: 100%;
						img{
							object-fit: contain;
							height: 35vh;
							max-width: 100%;
						}
					}
				}
				.bottom{
					padding: 0.5rem;
					width: 100%;
					.title{
						font-size: 1.4rem;
						margin-bottom: 1.5rem;
					}
					.info{
						.date{}
						.category{}
						.tags{
							.tag{}
						}
					}
				}
			}
		}
		/* blog_detail */
		.blog_detail_top{
			margin-bottom: 5rem;
			width: 100%;
			.thumbnail{
				width: 100%;
				text-align: center;
				img{
					max-width: 100%;
					margin-bottom: 2rem;
				}
			}
			.title{
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}
			.info{
				.date{}
				.category{}
				.tags{
					.tag{}
				}
			}
		}
	}
}
