/* bg */
$light-bg-bolor: rgb(250, 250, 250);
$navbar-bg-color: rgb(250, 250, 250);

/* border */
$border-primary: rgb(139, 139, 139);
$border-secondary: rgb(230, 230, 230);

/* font */
$base-font-color: rgb(75, 75, 75);

/* highlight */
$weak-red: rgb(250, 211, 211);
$strong-red: rgb(248, 159, 159);
$strong-hover-red: rgb(255, 106, 106);
$strong-blue:rgb(125, 213, 235);
$strong-hover-blue:rgb(129, 228, 253);
$weak-blue: rgb(224, 242, 252);
$strong-green: #a6d3c8;
$weak-green: rgb(238, 255, 239);
$weak-hover-green:rgb(209, 248, 211);

/* difficulty */
$difficulty-1: rgb(126, 134, 245);
$difficulty-2: rgb(117, 196, 134);
$difficulty-3: rgb(206, 122, 116);

/* others */
$warn-red: rgb(248, 58, 58);
$like-blue:rgb(46, 81, 179);
$quote-color: rgb(240, 240, 240);
$bun-bolor: rgb(243, 243, 243);
