$nihongo-bg: rgb(251, 136, 74)
$sensei-bg: rgb(52, 117, 242)
$jltct-bg: rgb(76, 230, 118)
$others-bg: rgb(41, 112, 129)
$question-bg: rgb(230, 230, 230)
$border-primary: rgb(121, 121, 121)
$border-secondary: rgb(228, 228, 228)
$strong-color: rgb(255, 112, 112)
$semi-strong-color: rgb(62, 98, 189)
$link-color: rgb(3, 196, 214)
$content-color: rgb(108, 108, 108)

$light-bg-color: rgb(249, 249, 249)

$society-color: rgb(244, 192, 91)
$language-color: rgb(227, 81, 81)
$languagesociety-color: rgb(114, 181, 62)
$languagepsychology-color: rgb(85, 173, 201)
$languageeducation-color: rgb(102, 24, 180)




*
	color: rgb(66, 66, 66)
	line-height: 1.8rem
	box-sizing: border-box
.wrapper
	width: 80vw
	margin: 0 auto
	display: flex
	margin-bottom: 10rem
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between

.left_column
	width: 75%
.right_column
	width: 20%


.section_head
	font-size: 2rem
	margin-bottom: 5rem
	width: 100%
	color: $strong-color
	line-height: 2.3rem
.section_head_sub
	margin-top: 10rem
	font-size: 1.6rem
	margin-bottom: 5rem
	width: 100%
	line-height: 2.3rem



.content
	overflow-x: auto
	padding: 2rem 0
	margin: 6rem 0
	*
		margin: 2rem 0
		font-size: 1.1rem
		color: $content-color
	h1, h2, h3, h4, h5, h6
		margin: 3rem 0
	h1
		font-size: 1.5rem

	h2
		font-size: 1.4rem
		background-color: $semi-strong-color
		color: white
		padding: 1rem
		margin: 10rem 0 2rem 0
	h3
		font-size: 1.3rem
		padding: 0.5rem 1rem
		display: inline-block
		color: $semi-strong-color
		border: 2px solid $semi-strong-color
		margin: 2rem 0 0 0
	h4
		font-size: 1.2rem
		border-left: 0.5rem solid $semi-strong-color
		color: $semi-strong-color
		padding: 0 1rem
		margin: 5rem 0 0 0
	h5
		font-size: 1.1rem
	h6
		font-size: 1rem
	p
		line-height: 2rem
	ul
		margin-left: 4rem
		li
			list-style-type: 	disc
			list-style-position: outside
			margin: 0.5rem 0
	ol
		margin-left: 4rem
		li
			list-style: decimal
			list-style-position: inside
			padding-left: 1rem
			margin: 0.5rem 0
			text-indent: -1rem
	strong
		background: linear-gradient(transparent 90%, $strong-color 90%)
	a
		color: $link-color
	img
		width: 100%
	.toc
		border: 1px solid $border-secondary
		border-radius: 0.5rem
		padding-right: 0.7rem
		ul
			li
				margin: 0.5rem 0
				ul
					margin-top: 0.5rem
					margin-bottom: 0.5rem
					li
						list-style-type: circle
		&::before
			content: '目次'
			display: block
			padding: 1rem 1rem 0 1rem
	.table
	  display: block
	  overflow-x: auto
	  white-space: nowrap
	  -webkit-overflow-scrolling: touch
	.table
		max-width: 100%
		tr
			&>*
				vertical-align: middle
				border: 1px solid $border-secondary
				padding: 1rem 3rem 1rem 0.5rem
			th
				background-color: $light-bg-color
	blockquote
		background-color: $border-secondary
		padding: 1rem
		&::before
			content: "\f10d"
			font-family: "Font Awesome 5 Free"
			width: 1rem
			height: 1rem
			font-weight: 900
			display: inline-block
		p
			margin: 0
		ol
			margin-left: 0!important
		ul
			margin-left: 0!important

.strong_button
	color: white
	background-color: $strong-color
	padding: 1rem
	margin-bottom: 7rem
	display: block
	text-align: center
	transition: .5s
	&:hover
		transition: .5s
		background-color: white
		color: $strong-color

.content_check_button
	margin: 1rem 0
	background-color: $content-color
	padding: 0.3rem 0.7rem
	color: white
	transition: 0.4s
	width: 100%
	text-align: center
	&:hover
		color: $content-color
		background-color: white
		transition: 0.4s

.user_content
	h2, h3, h4
		background-color: inherit
		color: inherit
	h2
		margin-top: 2rem
		border-bottom: 1px double $border-primary
		border-top: 1px double $border-primary
	h3
		border: 1px solid $border-primary
	h4
		border-left: 0.5rem solid $border-primary

.show
    display: flex!important
    justify-content: center
    align-items: center

.login_author_link
	color: $link-color

.check_button
	width: 100%
	text-align: center
	background-color: $border-secondary
	padding: 0.5rem
	margin: 2rem 0
	transition: 0.5s
	&:hover
		color: grey
		background-color: white
		transition: 0.5s
		cursor: pointer

.markdownexp_link
	span
		display: inline-block!important
	a
		display: inline-block!important
	i
		display: inline-block!important
.markdownexp
	.markdownexp_container
		width: 100%
		.markdown_explanation
			margin-bottom: 5rem
		.htmltags_container
			display: flex
			flex-wrap: wrap
			.htmltag
				width: 100%
				margin-bottom: 4rem
				.upper
					.htmltag_name
						margin-bottom: 1rem
						span
							border: 1px solid $border-primary
							padding: 0.4rem
					.htmltag_exp
						margin-left: 2rem
						margin-bottom: 1rem
				.bottom
					display: flex
					flex-direction: row
					justify-content: space-between
					align-items: center
					background-color: $light-bg-color
					padding: 0 1rem
					margin-left: 2rem
					.left
						width: 45%
					.middle
						width: 5%
						text-align: center
						.fa-arrow-down
							display: none
					.right
						width: 40%
						margin: 0
						padding: 0

.content_check
	margin: 0 !important
	padding: 0 !important
	overflow-x: hidden

@media screen and (max-width:1100px)
	.wrapper
		width: 90vw
		flex-direction: column
		.section_head
			order: 1
		.left_column
			width: 100%!important
			order: 3
		.right_column
			width: 100%!important
			order: 2
		.content
			ul
				margin-left: 2rem
			ol
				margin-left: 2rem



	.markdownexp
		.markdownexp_container
			.htmltags_container
				.htmltag
					.upper
						.htmltag_name
							span
						.htmltag_exp
							margin-left: 1rem
					.bottom
						flex-direction: column
						margin-left: 1rem
						.left
							width: 100%
							word-break: break-all
						.middle
							width: 100%
							margin: 2rem 0 1rem 0
							.fa-arrow-right
								display: none
							.fa-arrow-down
								display: block
						.right
							width: 100%
