$nihongo-bg: rgb(251, 136, 74)
$sensei-bg: rgb(52, 117, 242)
$jltct-bg: rgb(76, 230, 118)
$others-bg: rgb(41, 112, 129)
$question-bg: rgb(230, 230, 230)
$border-primary: rgb(121, 121, 121)
$border-secondary: rgb(228, 228, 228)
$strong-color: rgb(255, 112, 112)
$semi-strong-color: rgb(62, 98, 189)
$link-color: rgb(3, 196, 214)
$content-color: rgb(108, 108, 108)
$light-bg-color: rgb(250, 250, 250)
$semi-strong-color: rgb(62, 98, 189)
$society-color: rgb(244, 192, 91)
$language-color: rgb(227, 81, 81)
$languagesociety-color: rgb(114, 181, 62)
$languagepsychology-color: rgb(85, 173, 201)
$languageeducation-color: rgb(102, 24, 180)
$sub-strong-color: rgb(111, 181, 218)
$subsection-bg-color: #a6d3c8

$point-bg-color: rgba(238, 181, 169, 1)
$point-border-color: rgb(255, 139, 139)

.jltct_wrapper
  display: flex
  justify-content: space-between
  align-items: flex-start
  .caution
    margin-bottom: 3rem
    a
      color: $link-color
  .left_column
    width: 75%
    section
      width: 100%
      margin-bottom: 3rem
      .subsection_head
        position: relative
        padding: 0.5em
        background: $subsection-bg-color
        color: white
        margin-bottom: 3rem
        font-size: 1.3rem
    /*jltct_top below*/
    .subsection
      .subsection_head
      .result
        font-size: 1.2rem
        margin-bottom: 3rem
        span
          border: 1px solid $content-color
          padding: 0.2rem 0.4rem
          border-radius: 0.2rem
      .tag_result
        span
          color: $link-color
          border: 1px solid $link-color
          padding: 0.2rem 0.5rem
          border-radius: 0.3rem
    .subsection_note

        /* continued in 'jltct_note_list_snippet.sass' */

    .search_result
      margin-bottom: 2rem
    .exp_list_container
      .exp_container
        a
          display: flex
          flex-wrap: wrap
          margin-bottom: 1rem
          padding: 0.5rem 0.2rem
          border: 2px solid $border-secondary
          transition: 0.5s
          &:hover
            transition: 0.5s
            background-color: $link-color
          &:hover .head
            color: white
            transition: 0.5s
          &>*
            width: 100%
          .head
            transition: 0.5s
          .info
            text-align: right
            color: $border-primary


    /*note_detail below*/
    .note_info
      margin-bottom: 15rem
      background-color: $light-bg-color
      padding: 0.5rem
      .note_title
        font-size: 3rem
        margin-bottom: 2rem
        line-height: 3rem
      .meta_info
        >*
          display: block
          margin-bottom: 1rem
        .society
          color: $society-color
        .language
          color: $language-color
        .languagesociety
          color: $languagesociety-color
        .languagepsychology
          color: $languagepsychology-color
        .languageeducation
          color: $languageeducation-color
        .info_time
          .fa-clock
            display: inline-block
            font-size: 1.2rem
            margin-right: 0.5rem
          .meta_info_update
            display: inline-block
        .info_like
          display: inline-block
          margin-left: 2rem
        .info_section
        .fa-circle
          display: inline-block
          margin-right: 0.5rem
        .meta_info_section
          font-size: 1.2rem
          display: inline-block
        .meta_info_tags
          a
            font-size: 1.1rem
            display: inline-block
            color: $link-color
            padding: 0.2rem 0.6rem
            border: 1px solid $link-color
            border-radius: 0.3rem
            transition: 0.4s
            margin-right: 0.5rem
            margin-bottom: 0.5rem
            &:hover
              background-color: $link-color
              color: white
              border-radius: 0
    .sub
      margin-top: 3rem
      padding-bottom: 3rem
      .sub_head
        font-size: 1.2rem
        margin-bottom: 2rem
        background-color: $light-bg-color
        padding: 1rem
      li
        list-style-type: none
        margin-bottom: 0.5rem
        a
          border-bottom: 1px solid $link-color
          transition: 0.3s
          &:hover
            color: $link-color
            transition: 0.3s

  .right_column
    width: 22%
    height: inherit
    background-color: $light-bg-color
    .right_column_section
      margin-bottom: 5rem
      .right_column_section_head
        margin-bottom: 2rem
        padding: 0.5em
        background-color: $border-secondary
        font-size: 1.3rem
      .search_form
        display: flex
        margin-bottom: 1rem
        width: 100%
        input
          border: 1px solid $border-secondary
          background-color: white
          width: 85%
        button
          width: 15%
          background-color: $strong-color
          text-align: center

          i
            color: white
      .tags
        width: 100%
        padding: 1rem
        padding-bottom: 0
        p
          margin-bottom: 2rem
        a
          font-size: 1.1rem
          display: inline-block
          color: $link-color
          padding: 0.2rem 0.6rem
          border: 1px solid $link-color
          border-radius: 0.3rem
          transition: 0.4s
          margin-right: 0.5rem
          margin-bottom: 0.5rem
          &:hover
            background-color: $link-color
            color: white
            border-radius: 0


.point
	border: 2px solid $point-border-color
.point
  position: relative
  border-radius: 1rem 0 0 0
  padding-right: 1rem
  &::before
    content: "Point!"
    width: auto
    height: auto
    position: absolute
    top: -1rem
    left: -0.1rem
    background-color: $point-border-color
    color: white
    border-radius: 0.2rem
    padding: 0 0.5rem
    transform: skew(-6deg,-5deg)
    font-size: 1.2rem
    text-align: justify
    text-justify: inter-ideograph

  ul
    margin-left: 1.5rem!important
    li
      list-style: none!important
      display: flex
      &::before
        content: "\f0a4"
        font-family: "Font Awesome 5 Free"
        font-weight: 500
        margin-right: 1rem
        color: $semi-strong-color



.note_comment_section
  border-top: 1px solid $border-secondary
  padding-top: 3rem
  margin-top: 10rem
  margin-bottom: 15rem
  .comment_add_open_button
    display: block
    margin-bottom: 1rem
    border: 1px solid $strong-color
    width: 100%
    padding: 0.5rem
    text-align: center
    color: $strong-color
    transition: 0.5s
    margin-bottom: 3rem
    &:hover
      background-color: $strong-color
      transition: 0.5s
      color: white
      cursor: pointer
  .comment_add_container
    display: none
    .note_comment_form
      textarea
        border: 1px solid $border-secondary
        width: 100%
      .note_comment_submit_button
        width: 100%
        text-align: center
        background-color: $strong-color
        color: white
        padding: 0.5rem
        transition: 0.5s
        &:hover
          background-color: inherit
          color: $strong-color
          transition: 0.5s
  .note_comments
    margin-top: 5rem
    .comments_container
      .comment_container
        background-color: $light-bg-color
        border: 1px solid $border-secondary
        margin-bottom: 2rem
        .comment_info
          background-color: white
          padding: 1rem
          padding-bottom: 0.5rem
          border: 1px solid $border-secondary
          .comment_author
            a
              color: $link-color
              font-size: 1.1rem
          .comment_date
            margin-bottom: 1rem
        .comment_content
          padding: 1rem
        .comment_reply
          padding: 1rem
          .note_reply_open_button,
            background-color: $border-primary
            color: white
            padding: 0.5rem
            border-radius: 0.2rem
            transition: 0.5s
            &:hover
              transition: 0.5s
              background-color: $light-bg-color
              color: $border-primary
          .reply_add_container
            display: none
            .note_reply_form
              margin-top: 3rem
              .note_reply_input
                border: 1px solid $border-secondary
                width: 100%
                background-color: white
              .note_reply_check_button
              .note_reply_submit_button
                background-color: rgb(107, 181, 200)
                color: white
                width: 100%
                text-align: center
                padding: 0.5rem
                transition: 0.5s
                &:hover
                  transition: 0.5s
                  color: rgb(107, 181, 200)
                  background-color: $light-bg-color
      .replies
        margin-bottom: 5rem
        display: flex
        justify-content: flex-end
        .replies_container
          width: 95%
          margin-right: 0
          .delete_button
            padding: 1rem
            .note_reply_delete
              background-color: $border-primary
              color: white
              padding: 0.5rem
              border-radius: 0.2rem
              transition: 0.5s
              &:hover
                transition: 0.5s
                background-color: $light-bg-color
                color: $border-primary
@media screen and (max-width:1100px)
  .left_column
    width: 100%!important
    order: 1!important
    /*jltct_top below*/
    .subsection_note
      ul
        margin-left: 1rem !important
        margin-right: 0!important

    /*note_detail below*/
    .note_info
      margin-bottom: 5rem !important
      .note_title
        font-size: 1.5rem !important
        line-height: 1.7rem !important
    .content
  .right_column
    width: 100%!important
    order: 2
    margin-bottom: 3rem
    margin-top: 13rem
    .search_form
    .tag_list
      overflow-x: auto
      white-space: nowrap
      overflow-scrolling: touch
      -webkit-overflow-scrolling: touch
  .jltct_detail_right_column
    order: 3
    margin-top: 6rem
  .info_time
    display: flex
    flex-wrap: wrap
    .meta_info_update
      margin-right: 2rem
    .like_container
      margin-left: 0 !important
      margin-top: 0.5rem
  .comments_container
    .comment_reply
      display: flex
      flex-wrap: wrap
      .note_reply_open_button
        margin-bottom: 1rem
