$nihongo-bg: rgb(251, 136, 74)
$sensei-bg: rgb(52, 117, 242)
$jltct-bg: rgb(76, 230, 118)
$others-bg: rgb(41, 112, 129)
$culture-society-bg: rgb(226, 217, 7)
$question-bg: rgb(246, 246, 246)
$border-primary: rgb(121, 121, 121)
$border-secondary: rgb(228, 228, 228)
$strong-color: rgb(255, 112, 112)
$link-color: rgb(3, 196, 214)
$sub-strong-color: rgb(111, 181, 218)

$light-bg-color: rgb(249, 249, 249)

.question_list_wrapper
	justify-content: space-between

	.question_container
		margin-bottom: 3rem
		border: 1px solid $border-secondary
		padding: 2rem 1rem
		border-radius: 1rem
	.question_link
		width: 100%
		height: 100%
	.question_title
		font-size: 1.2rem
		margin-bottom: 1rem
		border-bottom: 1px solid $border-primary
		transition: 0.5s

		&:hover
			border-bottom: 1px solid $strong-color
	.question_info
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		margin-bottom: 1rem
		>div
			i
				margin-right: .5rem
		.author_container
			width: 100%
		.time_container
			width: 20%
		.answers_num
			width: 20%
		.category_container
			width: 60%
	.content_beginning
		.fas
			color: grey



.question_category
	display: inline-block
	padding: 0.3rem 1rem
	border: 1px solid $nihongo-bg
	color: $nihongo-bg
	border-radius: 0.4rem
	transition: 0.5s
	&:hover
		transition: 0.5s
		background-color: $nihongo-bg
		color: white
.question_category_nihongo
.question_category_sensei
	border: 1px solid $sensei-bg
	color: $sensei-bg
	&:hover
		background-color: $sensei-bg
.question_category_jltct
	border: 1px solid $jltct-bg
	color: $jltct-bg
	&:hover
		background-color: $jltct-bg
.question_category_others
	border: 1px solid $others-bg
	color: $others-bg
	&:hover
		background-color: $others-bg
.question_category_culture-society
	border: 1px solid $culture-society-bg
	color: $culture-society-bg
	&:hover
		background-color: $culture-society-bg

.sidebar
	.sidebar_head
		margin-bottom: 3rem
		font-size: 1.5rem
	.search_form
		margin-bottom: 2rem
		display: flex
		justify-content: space-between
		.search_form_input
			border: 1px solid $border-secondary
			width: 85%
			border-radius: 0.5rem 0 0 0.5rem
		.search_form_button
			width: 15%
			text-align: center
			border: 1px solid $border-secondary
			background-color: $strong-color
			border-radius: 0 0.5rem 0.5rem 0
			i
				color: white
	.sidebar_category_container
		background-color: $light-bg-color
		padding: 1rem
	.question_category
		display: inline-block
		margin-bottom: 1rem

	.category_num_posts



.question_detail_wrapper
	display: flex
	.question_category
		margin: 1rem 0
	.question_author
		font-size: 1.1rem
	.san
		font-weight: normal
	.question_content
		border-top: 1px solid $border-primary
		border-bottom: 1px solid $border-primary
		margin: 2rem 0
		padding: 2rem 0
	.answer_section
		margin: 3rem 0
		.submit_answer
			margin-bottom: 5rem
			.answer_button
				width: 100%
				border: 1px solid $strong_color
				border-radius: 0.5rem
				text-align: center
				color: $strong-color
				padding: 0.5rem
				transition: 0.5s
				&:hover
					transition: 0.5s
					color: white
					background-color: $strong-color
		.answers
			.answer
				background-color: $question-bg
				padding: 3rem 1rem
				border-radius: 1rem
				margin-bottom: 3rem
				.answer_author
					display: block
					margin-bottom: 1rem
					font-weight: bold
				.answer_login_author
					color: $link-color
				.san
					font-weight: normal!important
				.answer_date
					display: inline-block!important
				.answer_content
					margin-top: 2rem
				.answer_content_same
					margin-left: 1rem
				.reply_button
					background-color: $border-primary
					color: white
					padding: 0.2rem 0.5rem
					border-radius: 0.2rem
					margin-top: 1rem
					display: inline-block
					transition: 0.5s
					&:hover
						color: $border-primary
						background-color: $question-bg
						transition: 0.5s
			.answer_same
				background-color: rgb(215, 238, 255)
		.reply
			margin-left: 2rem!important



.answer_form
	div
		width: 100%
		display: flex
		flex-direction: column
		&>*
			width: 100%
	.author
		margin-bottom: 2rem
		input
			background-color: white
			border: 1px solid $border-secondary
	.answer_content
		textarea
			background-color: white
			border: 1px solid $border-secondary
	.answer_submit_button
		margin-top: 2rem
		background-color: $strong_color
		padding: 0.3rem 0.7rem
		border-radius: 5px
		color: white
		transition: 0.4s
		&:hover
			color: $strong_color
			background-color: $border-secondary
			transition: 0.4s
.reply_form
	margin-left: 0
	margin-top: 3rem
.reply_submit_button
	margin-top: 2rem
	background-color: rgb(107, 181, 200)
	padding: 0.3rem 0.7rem
	border-radius: 5px
	color: white
	transition: 0.4s
	&:hover
		color: rgb(107, 181, 200)
		background-color: $border-secondary
		transition: 0.4s

.all_wrapper
	.questions
		width: 100%

@media screen and (max-width:1100px)
	.question_list_wrapper

		.question_link
			display: flex
			flex-direction: column
		.question_info
			.author_container
			.time_container
				width: 80%!important
			.answers_num
				width: 20%!important
			.category_container
				width: 100%!important
				margin: 0.5rem 0
				.question_category
					width: 100%
					text-align: center


		.sidebar
			margin-bottom: 5rem
			padding-bottom: 5rem
			border-bottom: 2px solid $border-primary
			.sidebar_head
				width: 100%
			.sidebar_category
				width: 100%
				overflow-x: scroll
				white-space: nowrap
				.question_category
					overflow-x: scroll


		.question_add_wrapper
	.question_detail_wrapper
		.left_column
			order: 1
			margin-bottom: 7rem
		.right_column
			order: 2
