$nihongo-bg: rgb(251, 136, 74)
$sensei-bg: rgb(52, 117, 242)
$jltct-bg: rgb(76, 230, 118)
$others-bg: rgb(41, 112, 129)
$question-bg: rgb(252, 252, 252)
$border-primary: rgb(121, 121, 121)
$border-secondary: rgb(228, 228, 228)
$strong-color: rgb(255, 112, 112)
$link-color: rgb(3, 196, 214)


.question_list_wrapper
	justify-content: space-between
	.left_column
		width: 75%
		.questions
			.question_container
				margin-bottom: 3rem
				background-color: $question-bg
				padding: 2rem 1rem
				border-radius: 1rem
				.question_link
					width: 100%
					height: 100%
				.question_title
					font-size: 1.4rem
					margin-bottom: 1rem
					border-bottom: 1px solid $border-primary
					transition: 0.5s
					&:hover
						border-bottom: 2px solid $strong-color
						letter-spacing: 0.1rem
				.question_created_at
					margin-right: 1rem
					margin-bottom: 0.5rem
					display: inline-block
				.question_author
					span
						font-weight: bold
				.question_answers
					margin-top: 0.5rem
					span
						color: $strong-color
						font-size: 1.1rem

	.right_column
		width: 20%


.question_category
	display: inline-block
	padding: 0.5rem 1rem
	background-color: $nihongo-bg
	color: white
	border-radius: 1rem
	transition: 0.5s
	&:hover
		transition: 0.5s
		background-color: white
		color: $nihongo-bg
.question_category_nihongo
.question_category_sensei
	background-color: $sensei-bg
	&:hover
		color: $sensei-bg
.question_category_jltct
	background-color: $jltct-bg
	&:hover
		color: $jltct-bg
.question_category_others
	background-color: $others-bg
	&:hover
		color: $others-bg

.sidebar
	.sidebar_head
		margin-bottom: 3rem
		font-size: 1.5rem
	.sidebar_category_container
		background-color: $question-bg
		padding: 1rem
		border-radius: 1rem
	.question_category
		display: inline-block
		margin-bottom: 1rem

	.category_num_posts



.question_detail_wrapper
	display: flex
	.question_category
		margin: 1rem 0
	.question_content
		border-top: 1px solid $border-primary
		border-bottom: 1px solid $border-primary
		margin: 2rem 0
		padding: 2rem 0
	.answer_section
		margin: 3rem 0
		.submit_answer
			margin-bottom: 5rem
		.answers
			.answer
				background-color: $question-bg
				padding: 3rem 1rem
				border-radius: 1rem
				margin-bottom: 3rem
				.answer_author
					display: inline-block
					margin-bottom: 1rem
					span
						font-weight: bold
				.answer_content

					margin-top: 2rem


.question_add_wrapper
	.left_column
		width: 100%
		margin: 0 auto
	.question_add
		.question_form
			display: flex
			flex-direction: column
			justify-content: center
			section
				margin-bottom: 3rem
				&>*
					border: 1px solid $border-secondary
				input
					width: 100%
				textarea
					width: 100%
					margin-top: 0
				select
					width: 100%
	.selected_question
		margin: 5rem 0
		padding: 2rem 0
		>*
			margin-bottom: 1rem
		.selected_question_title
			font-size: 1.5rem
		.selected_question_author
			span
				font-weight: bold
		.selected_question_content
			border-top: 1px solid $border-primary
			border-bottom: 1px solid $border-primary
			margin: 2rem 0
			padding: 2rem 0

@media screen and (max-width:1100px)
	.question_list_wrapper
		.section_head
			order: 1
		.left_column
			width: 100%!important
			order: 3
		.right_column
			width: 100%!important
			order: 2
		.question_link
			display: flex
			flex-direction: column
		.question_author
			margin-top: 1rem
			display: inline-block


		.sidebar
			margin-bottom: 5rem
			padding-bottom: 5rem
			border-bottom: 2px solid $border-primary
			.sidebar_head
				width: 100%
			.sidebar_category
				width: 100%
				overflow-x: scroll
				white-space: nowrap
				.question_category
					overflow-x: scroll


		.question_add_wrapper
	.question_detail_wrapper
		.left_column
			order: 1
		.right_column
			order: 2
