$nihongo-bg: rgb(251, 136, 74)
$sensei-bg: rgb(52, 117, 242)
$jltct-bg: rgb(76, 230, 118)
$others-bg: rgb(41, 112, 129)
$culture-society-bg: rgb(226, 217, 7)
$question-bg: rgb(246, 246, 246)
$border-primary: rgb(121, 121, 121)
$border-secondary: rgb(228, 228, 228)
$strong-color: rgb(255, 112, 112)
$link-color: rgb(3, 196, 214)
$sub-strong-color: rgb(111, 181, 218)
$semi-strong-color: rgb(62, 98, 189)
$light-bg-color: rgb(250, 250, 250)



.question_list_wrapper
	justify-content: space-between
	.question_container
		margin-bottom: 3rem
		border: 1px solid $border-secondary
		padding: 2rem 1rem
	.question_link
		width: 100%
		height: 100%
	.question_title
		font-size: 1.2rem
		margin-bottom: 1rem
		border-bottom: 1px solid $border-primary
		transition: 0.5s
		&:hover
			border-bottom: 1px solid $strong-color
	.question_info
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		margin-bottom: 1rem
		>div
			i
				margin-right: .5rem
		.author_container
			width: 100%
		.time_container
			width: 20%
		.poll_container
			width: 5%
		.answers_num
			width: 7%
		.category_container
			width: 60%
	.content_beginning
		background-color: $light-bg-color
		padding: 0.5rem
		.fas
			color: grey



.question_category
	display: inline-block
	padding: 0.3rem 1rem
	border: 1px solid $nihongo-bg
	color: $nihongo-bg
	border-radius: 0.4rem
	transition: 0.5s
	&:hover
		transition: 0.5s
		background-color: $nihongo-bg
		color: white
.question_category_nihongo
.question_category_sensei
	border: 1px solid $sensei-bg
	color: $sensei-bg
	&:hover
		background-color: $sensei-bg
.question_category_jltct
	border: 1px solid $jltct-bg
	color: $jltct-bg
	&:hover
		background-color: $jltct-bg
.question_category_others
	border: 1px solid $others-bg
	color: $others-bg
	&:hover
		background-color: $others-bg
.question_category_youseikouza
	border: 1px solid $culture-society-bg
	color: $culture-society-bg
	&:hover
		background-color: $culture-society-bg

.sidebar
	background-color: $light-bg-color
	.sidebar_head
		margin-bottom: 3rem
		font-size: 1.5rem
	.search_form
		margin-bottom: 2rem
		display: flex
		justify-content: space-between
		.search_form_input
			border: 1px solid $border-secondary
			width: 85%
			border-radius: 0.5rem 0 0 0.5rem
			background-color: white
		.search_form_button
			width: 15%
			text-align: center
			border: 1px solid $border-secondary
			background-color: $strong-color
			border-radius: 0 0.5rem 0.5rem 0
			i
				color: white
	.sidebar_category_container
		padding: 1rem
	.question_category
		display: inline-block
		margin-bottom: 1rem

	.category_num_posts

.question_detail_wrapper
	display: flex
	.question_deteil_container
		border: 1px solid $border-secondary
		.left_top
			border: 1px solid $border-secondary
			padding: 1rem
			.question_title
				border-bottom: none
				font-size: 2rem
			.question_category
				margin: 1rem 0
			.question_author
				font-size: 1.1rem
			.san
				font-weight: normal
		.question_content
			background-color: $light-bg-color
			margin: 0
			padding: 1rem
			.content_main
			.content_addition
				margin-top: 5rem
				.addition_head
					background-color: $border-secondary
					margin: 0
					font-size: 1.3rem
					padding: 0.5rem 0.2rem
			.content_poll
				.poll_head
					background-color: $link-color
					padding: 0.5rem 0.3rem
					color: white
				.poll_vote
					.poll_question
						font-weight: bold
					.poll_sub_div
						display: flex
						align-items: center
						height: 3rem
						.poll_result_open_button
							border: 2px solid $link-color
							padding: 0.5rem
							transition: 0.5s
							margin-right: 1rem
							&:hover
								transition: 0.5s
								color: white
								background-color: $link-color
						.poll_total
							border: 2px solid $border-primary
							display: inline-block
							padding: 0.5rem
							display: none
							&>*
								margin: 0
							i
							span
								margin-left: 0.5rem
					.poll_options
						.poll_option
							.poll_option_button, .poll_option_button_non_member
								position: relative
								z-index: 1
								display: flex
								margin: 1rem 0
								background-color: $border-secondary
								padding: 0.5rem
								transition: 0.6s
								width: 100%
								flex-wrap: wrap
								margin-bottom: 0
								&:hover
									background: $link-color
									transition: 0.5s
								&:hover .left>span
									color: white
									transition: 0.5s
								&:hover .right
									color: white
									transition: 0.5s
								&>*
									margin: 0
								.left
									margin-right: 1rem
									span
										transition: 0.5s
								.right
									transition: 0.5s
							.poll_bar
								background-color: $sub-strong-color
								width: 0px
								margin-top: 0
								text-align: right
								height: 1.7rem
								span
									color: white
								.percentage
									margin-right: 0.5rem
									font-size: 1rem
									word-break: keep-all

	.answer_section
		margin: 3rem 0
		.submit_answer
			margin-bottom: 5rem
			.answer_button
				width: 100%
				border: 1px solid $strong_color
				text-align: center
				color: $strong-color
				padding: 0.5rem
				transition: 0.5s
				&:hover
					transition: 0.5s
					color: white
					background-color: $strong-color
		.answers
			margin-top: 15rem
			.answer
				background-color: $light-bg-color
				margin-bottom: 3rem
				border: 1px solid $border-secondary
				.answer_info
					border: 1px solid $border-secondary
					padding: 1rem
					background-color: white
					.answer_author
						display: block
						font-weight: bold
					.answer_login_author
						color: $link-color
					.san
						font-weight: normal!important
					.answer_date
						display: inline-block!important
				.answer_main
					padding: 1rem
					.answer_content
						margin: 0
						padding: 0
					.answer_content_same
						margin-left: 1rem
					.reply_button
						background-color: $border-primary
						color: white
						padding: 0.2rem 0.5rem
						border-radius: 0.2rem
						margin-top: 1rem
						display: inline-block
						transition: 0.5s
						&:hover
							color: $border-primary
							background-color: $question-bg
							transition: 0.5s
							cursor: pointer
			.answer_same
				border: 2px solid $sub-strong-color
		.reply
			margin-left: 2rem!important

.question_add_wrapper
	.question_add
		.question_form
			section
				border: 1px solid $border-secondary
				margin-bottom: 1rem
				input
					width: 100%
				select
					width: 100%
				textarea
					width: 100%
			button
				width: 100%
				margin-top: 0.5rem
			.poll
				margin: 1rem 0
				.poll_open_button
					width: 100%
					padding: 0.5rem
					text-align: center
					border: 1px solid $link-color
					color: $link-color
					transition: 0.5s
					&:hover
						background-color: $link-color
						color: white
						transition: 0.2s
						cursor: pointer
				.poll_collapse
					margin-top: 2rem
					display: none
					.poll_question
						textarea
							box-shadow: 0 0 0.1rem $link-color
							width: 100%
							height: 1.8rem
							margin-bottom: 2rem
					.poll_options
						.poll_option
							display: flex
							flex-wrap: nowrap
							justify-content: flex-end
							.left
								margin-right: 1rem
							.right
								width: 90%
								input
									width: 100%
									box-shadow: 0 0 0.1rem $link-color
									margin-bottom: 1rem
	.right_column
		.ask_button
			display: none


.answer_form
	margin-bottom: 1rem
	div
		width: 100%
		display: flex
		flex-direction: column
		&>*
			width: 100%
	.author
		margin-bottom: 2rem
		input
			background-color: white
			border: 1px solid $border-secondary
	.answer_content
		textarea
			background-color: white
			border: 1px solid $border-secondary
	.answer_submit_button
		background-color: $strong_color
		color: white
		transition: 0.4s
		width: 100%
		text-align: center
		padding: 0.5rem
		margin: 0.5rem 0
		n
		&:hover
			color: $strong_color
			background-color: $border-secondary
			transition: 0.4s
.reply_form
	margin-left: 0
	margin-top: 3rem
.reply_submit_button
	background-color: rgb(107, 181, 200)
	padding: 0.5rem
	border-radius: 5px
	color: white
	transition: 0.4s
	width: 100%
	text-align: center
	margin: 0.5rem 0
	&:hover
		color: rgb(107, 181, 200)
		background-color: $border-secondary
		transition: 0.4s
		cursor: pointer

.addition_button
	width: 100%
	background: $border-primary
	text-align: center
	display: block
	padding: 0.5rem
	color: white
	margin-bottom: 1rem
	transition: 1s
	&:hover
		background-color: $semi-strong-color
		transition: 0.3s
		cursor: pointer
.delete_button
	width: 100%
	background: $border-primary
	text-align: center
	display: block
	padding: 0.5rem
	color: white
	margin-bottom: 1rem
	transition: 1s
	&:hover
		background-color: red
		transition: 0.3s
.answer_delete_button
	width: auto
	display: inline-block
	border-radius: 5px
	padding: 0.2rem 0.5rem
	margin-top: 1rem

.addition_wrapper
	.addition
		display: none
		margin-bottom: 2rem
		padding: 0.5rem 0.5rem 0 0.5rem
		background-color: $light-bg-color
		border: 2px solid $border-secondary
		.question_check_button
			background: $border-secondary
		.addition_submit_button
			background-color: rgb(107, 181, 200)
			padding: 0.5rem
			border-radius: 5px
			color: white
			transition: 0.4s
			width: 100%
			text-align: center
			margin: 0.5rem 0
			&:hover
				color: rgb(107, 181, 200)
				background-color: $border-secondary
				transition: 0.4s
				cursor: pointer
	.addition_open_button
.all_wrapper
	.questions
		width: 100%

@media screen and (max-width:800px)
	.question_list_wrapper

		.question_link
			display: flex
			flex-direction: column
		.question_info
			.author_container
			.time_container
				width: 80%!important
			.answers_num
				width: 20%!important
			.category_container
				width: 100%!important
				margin: 0.5rem 0
				.question_category
					width: 100%
					text-align: center


		.sidebar
			margin-bottom: 5rem
			padding-bottom: 5rem
			.sidebar_head
				width: 100%
			.sidebar_category
				width: 100%
				overflow-x: scroll
				white-space: nowrap
				.question_category


	.question_add_wrapper
		.question_add
		.left_column
			order: 1!important
		.right_column
			order: 2!important
			.ask_button
				display: none
			.sidebar
				border-bottom: none


	.question_detail_wrapper
		.left_column
			order: 1
			margin-bottom: 7rem
		.right_column
			order: 2
