$category-color: rgb(129, 233, 61)
$question-bg: rgb(246, 246, 246)
$border-primary: rgb(121, 121, 121)
$border-secondary: rgb(228, 228, 228)
$strong-color: rgb(255, 112, 112)
$link-color: rgb(3, 196, 214)
$sub-strong-color: rgb(111, 181, 218)
$semi-strong-color: rgb(62, 98, 189)
$light-bg-color: rgb(250, 250, 250)
$service-name-color: rgb(46, 139, 75)
$sitedesc-strong-color: rgba(97, 162, 117, 0.7)

.sitedesc_wrapper
	.section_head
	.sitedesc_container
		.top_desc
			margin-bottom: 5rem
			font-size: 1.1rem
		.services_container
			.service_container
				.service_name
					position: relative
					padding: 0.5rem
					font-size: 1.1rem
					text-align: center
					border-top: solid 2px $service-name-color
					border-bottom: solid 2px $service-name-color
					color: $service-name-color
					margin-bottom: 3rem
					&::before, &::after
						content: ''
						position: absolute
						top: -10px
						width: 2px
						height: calc(100% + 20px)
						background-color: $service-name-color
					&::before
						left: 0.5rem
					&::after
						right: 0.5rem
				.service_desc_container
					display: flex
					align-items: center
					margin-bottom: 8rem
					.service_desc
						width: 65%
						p
							margin-bottom: 1rem
						.login_user
							margin-top: 3rem
							border: 1px solid $link-color
							position: relative
							padding: 3rem 0 1rem 0
							border-radius: 0.5rem
							background-color: $light-bg-color
							li
								list-style: none
								list-style-position: outside
								margin-left: 2rem
								margin-bottom: 0.5rem
								&::before
								  font-family: "Font Awesome 5 Free"
								  font-weight: 900
								  content: "\f00c"
								&::before
									color: $link-color
									margin-right: 1rem
							&::before
								content: '会員になると？'
								background-color: $link-color
								color: white
								padding: 0.5rem 1rem
								border-radius: 0.5rem
								position: absolute
								top: 0px
								left: 0px
					.service_img
						width: 35%
						img
							object-fit: contain
							max-width: 100%
	strong
		background: linear-gradient(transparent 70%, $sitedesc-strong-color 90%)
		font-weight: normal

@media screen and (max-width:1000px)
	.sitedesc_wrapper
		.section_head
			order: 1
			font-size: 1.2rem
		.sitedesc_container
			order: 2
			.top_desc
			.services_container
				.service_container
					.service_name
						&::before, &::after
						&::before
						&::after
					.service_desc_container
						flex-wrap: wrap
						.service_desc
							width: 100%!important
							order: 2
							p
							.login_user
								li
									&::before
									&::before
								&::before
						.service_img
							width: 100%
							order: 1
							img
								width: 100%!important
								object-fit: cover
