{% extends 'sensei_app/base.html' %}
{% load static %}
{% load markdownx %}
{% load markdownify %}
{% block title %}{{note.title}}{% endblock %}
{% block content %}


<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/jltct.min.css' %}">
	<link rel="stylesheet" href="{% static 'sensei_app/css/common.min.css' %}">
</head>
<body>
  {% include 'sensei_app/navbar.html' %}
  <div class="wrapper jltct_wrapper">
		<section class="left_column">
      <div class="note_info">
        <h1 class="note_title">{{note.title}}</h1>
        <div class="meta_info">
          <i class="far fa-clock"></i><span class="meta_info_update">{{note.update}}</span><br>
          <i class="fas fa-circle {{ note.section.section_slug }}"></i><span class="meta_info_section">{{note.section}}</span><br>
          <div class="meta_info_tags">
            {% for tag in note.tag.all %}
              <a href="{% url 'sensei_app:tag_notes' tag.tag_slug %}">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="content">
        {{ note.content|markdown_to_html}}
      </div>
			{% if note.jltctreference_set.all %}
				<div class="reference sub">
					<p class="sub_head">参考</p>
					{% for reference in note.jltctreference_set.all %}
							<li>
								<a href="{{reference.url}}">{{reference.name}}</a>
							</li>
					{% endfor %}
				</div>
			{% endif %}
			{% if note.related_note.all %}
				<div class="related sub">
					<p class="sub_head">関連ノート</p>
					{% for related in note.related_note.all %}
						<li>
							<a href="{% url 'sensei_app:note_detail' related.title_slug %}">{{related.title}}</a>
						</li>
					{% endfor %}
				</div>
			{% endif %}
		</section>
		<section class="right_column jltct_detail_right_column">
			{% include 'sensei_app/Exam/right_column.html' %}
		</section>

  </div>
</body>
{% endblock %}
