{% extends "sensei_app/base.html" %}
{% load markdownify %}
{% load static %}

{% block title %}{{selected_tag.tag}}に関するノート{% endblock %}
{% block content %}


<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/jltct.min.css' %}">
	<link rel="stylesheet" href="{% static 'sensei_app/css/common.min.css' %}">
</head>
<body>
  {% include 'sensei_app/navbar.html' %}
  <div class="wrapper jltct_wrapper">
    <h1 class="section_head">日本語教育能力検定試験対策</h1>
		<section class="left_column">
			<section class="subsection subsection_note">
				<h2 class="subsection_head">検定試験対策ノート</h2>
				<p class="result tag_result"><span>{{ selected_tag.tag }}</span>に関連するノート</p>
				{% include "sensei_app/Exam/jltct_note_list_snippet.html" %}
			</section>
		</section>
		<section class="right_column">
			{% include 'sensei_app/Exam/right_column.html' %}
		</section>
  </div>
</body>
{% endblock %}
