{% extends "sensei_app/base.html" %}
{% load markdownify %}
{% load static %}
{% block content %}


<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/common.min.css' %}">
	<link rel="stylesheet" href="{% static 'sensei_app/css/jltct.min.css' %}">
	<link rel="stylesheet" href="{% static 'sensei_app/css/exam.min.css' %}">
</head>
<body>
  {% include 'sensei_app/navbar.html' %}
  <div class="wrapper jltct_wrapper">
    <h1 class="section_head">日本語教育能力検定試験</h1>
		<section class="left_column">
			{% if not exp_query %}
				<section class="subsection subsection_note">
					<h2 class="subsection_head">検定試験対策ノート</h2>
					{% if query %}
						<p class="result"><span>{{ query }}</span>に関連するノート</p>
					{% else %}
						<p class="caution">
						以下のノートで解説している知識等は、管理人が検定試験対策のために勉強していたことをまとめたものなので、
						不完全なものがあるかと思われます。質問・指摘等ございましたら、<a href="{% url 'sensei_app:contact_add' %}">「お問い合わせ」</a>、もしくは該当ページのコメント欄までお願いします。
						</p>
					{% endif %}
					{% include "sensei_app/Exam/jltct_note_list_snippet.html" %}
				</section>
				<section class="subsection subsection_exam_exp">
					<h2 class="subsection_head" id="exp_section">過去問解説</h2>
					<p class="caution">
						私自身のアウトプットの場として、また検定試験に向けて勉強している方の応援のために、過去の検定試験の私なりの解説を公開します。試験勉強を始めたばかりの方でも分かるように、ほとんどが、基礎的な用語・概念を説明してからの設問解説という構造になっています。勉強が進んでいる方にとっては多少くどいかもしれませんが、ご容赦ください。
					</p>

					<p class="caution" style="margin-bottom:3rem;">
						また、皆さんご存じの通り、検定試験は問題は公開されているものの、解説はありません。以下の解説は管理人独自の見解となっておりますので、必ずしも正しい解説とは限らないことをご留意ください。
					質問・指摘等ございましたら、<a href="{% url 'sensei_app:contact_add' %}">「お問い合わせ」</a>までお願いします。
					</p>
					{% include "sensei_app/Exam/Exp/exp_list_snippet.html" %}
				</section>
			{% else %}
				<section class="subsection subsecton_exa_exp">
					<h2 class="subsection_head">過去問解説</h2>
					<p class="caution">
						私自身のアウトプットの場として、また検定試験に向けて勉強している方の応援のために、過去の検定試験の私なりの解説を公開します。試験勉強を始めたばかりの方でも分かるように、ほとんどが、基礎的な用語・概念を説明してからの設問解説という構造になっています。勉強が進んでいる方にとっては多少くどいかもしれませんが、ご容赦ください。
					</p>
					<p class="caution" style="margin-bottom:3rem;">
						また、皆さんご存じの通り、検定試験は問題は公開されているものの、解説はありません。以下の解説は管理人独自の見解となっておりますので、必ずしも正しい解説とは限らないことをご留意ください。
					質問・指摘等ございましたら、<a href="{% url 'sensei_app:contact_add' %}">「お問い合わせ」</a>までお願いします。
					</p>
					{% include "sensei_app/Exam/Exp/exp_search_snippet.html" %}
				</section>
			{% endif %}
			<section class="subsection subsection_countdown">
				<h2 class="subsection_head">試験日カウントダウン(おまけ)</h2>
				<div class="countdown_container">
					<p class="rest_days_p">2021年の試験まで<span id="rest_days"></span>日です。</p>
					<p class="hourly">1週間に、<input id="hour_input"></input>時間勉強すると、<br>試験日まで<span id="rest_hours">--</span>時間勉強できます。</p>
				</div>
			</section>


		</section>
		<section class="right_column">
			{% include 'sensei_app/Exam/right_column.html' %}
		</section>
  </div>
<script type="text/javascript">
	var now_date_sec = Date.now();

	var exam_date = new Date('2021/10/31');
	var exam_date_sec = exam_date.getTime();

	var rest_days_sec = exam_date_sec - now_date_sec
	var rest_days = Math.ceil(rest_days_sec/(1000*60*60*24))

	var rest_weeks = rest_days/7


	$("#rest_days").html(rest_days)

	$(document).on('input', "#hour_input", function(event){
		var hour = $("#hour_input").val()
		var calculated_hours = rest_weeks*hour
		$("#rest_hours").html(calculated_hours)
	})
</script>

</body>

{% endblock %}
