
<form class="search_form" action="{% url "sensei_app:jltct_top" %}" method="get" accept-charset="utf-8">
	<input class="search_form_input" type="text" name="q" value="{{ request.GET.q }}" placeholder="キーワード">
	<button class="search_form_button" type="submit"><span class="icon"><i class="fas fa-search"></i></span></button>
</form>

<div class="jltct_tags">
  <p>タグ一覧</p>
	<div class="tag_list">
	  {% for tag in jltct_tags|dictsortreversed:"num_notes"%}
			{% if not tag.num_notes == 0 %}
	  		<a href="{% url 'sensei_app:tag_notes' tag.tag_slug %}">
					{{tag}} {{tag.num_notes}}
				</a>
			{% endif %}
	  {% endfor %}
	</div>
</div>
