
{% extends "sensei_app/base.html" %}
{% block content %}
{% load markdownify %}
{% load static %}
{% load humanize %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/user_info.min.css' %}">
		<link rel="stylesheet" href="{% static 'sensei_app/css/question.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
		<div class="wrapper question_list_wrapper all_wrapper">
			<p class="section_head">
				{% if user.nickname %}
					<a class="login_author_link" href="{% url 'sensei_app:activities_of_user' user.pk %}"><i class="fas fa-chalkboard-teacher"></i>{{user.nickname}}</a>さんの質問
				{% else %}
					あなたの質問
				{% endif %}
			</p>
			<div class="questions">
				{% for question in questions %}
					<article class="question_container">
						<a class="question_link" href="{% url 'sensei_app:question_detail' question.pk %}">
							<h2 class="question_title">{{ question.title }}</h2>
							<div class="question_info">
								<div class="author_container">
									{% if not question.login_author %}
										{% if question.author %}
										<i class="fas fa-chalkboard-teacher"></i><span class="question_author">{{ question.author }}<span class="san">さん</span></span>
										{% else %}
											<i class="fas fa-chalkboard-teacher"></i><span class="question_author">名無しさん</span>
										{% endif %}
									{% else %}
										<a class="question_author login_author_link" href="{% url 'sensei_app:activities_of_user' question.login_author.pk %}"><i class="fas fa-chalkboard-teacher"></i>{{question.login_author.nickname}}<span class="san">さん</span></a>
									{% endif %}
								</div>
								<div class="time_container">
									<i class="far fa-clock"></i><span class="question_created_at">{{ question.created_at|date:"Y/m/d f"}}</span>
								</div>
								<div class="answers_num">
									<i class="fas fa-comment"></i><span class="question_answers">{{question.answers.count}}</span>
								</div>
								<div class="category_container">
									<a href="{% url 'sensei_app:question_category' question.category.category_slug %}" class="question_category question_category_{{ question.category.category_slug }}">{{ question.category }}</a>
								</div>
							</div>
							<div class="content_beginning">
								{{question.content|slice:":100"}} <i class="fas fa-ellipsis-h"></i>
							</div>
						</a>
					</article>
				{% endfor %}
				{% include 'sensei_app/pagination.html' %}
			</div>
		</div>
{% endblock %}
