{% extends "sensei_app/base.html" %}
{% block content %}
{% load markdownify %}
{% load static %}
{% load humanize %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/question.min.css' %}">
	<link rel="stylesheet" href="{% static 'sensei_app/css/user_info.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper question_list_wrapper all_wrapper">
		<p class="section_head">
			{% if user.nickname %}
				<a class="login_author_link" href="{% url 'sensei_app:activities_of_user' user.pk %}"><i class="fas fa-chalkboard-teacher"></i>{{user.nickname}}</a>さんの回答
			{% else %}
				あなたの回答
			{% endif %}
		</p>
		<div class="left_column">
			<div class="questions">
				{% include "sensei_app/Question/answer_list_snippet.html" %}
				{% include 'sensei_app/pagination.html' %}
			</div>
		</div>
		<div class="right_column">
			{% include "sensei_app/Question/sidebar.html" %}
		</div>
	</div>
</body>
{% endblock %}
