{% extends "sensei_app/base.html" %}
{% block content %}
{% load markdownify %}
{% load static %}
{% load humanize %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/question.min.css' %}">
	<link rel="stylesheet" href="{% static 'sensei_app/css/user_info.min.css' %}">
</head>
<body>
	<div class="navbar">
		{% include 'sensei_app/navbar.html' %}
	</div><!-- /.navbar -->
	<div class="wrapper question_list_wrapper all_wrapper">		
		<p class="section_head">
			みんなの質問
		</p>
		{% include 'sensei_app/result.html' %}	
		<div class="left_column">
			<div class="questions">
				{% include "sensei_app/Question/answer_list_snippet.html" %}
				{% include 'sensei_app/pagination.html' %}
			</div>
		</div>
		<div class="right_column">
			{% include "sensei_app/Question/sidebar.html" %}
		</div>
	</div>
</body>
{% endblock %}
