{% if user.is_authenticated %}
	{% if request.user in answer.likes.all %}
		<button type="button" name="{{answer.pk}}" class="answer_like_button note_like_button_liked">
			<i class="fas fa-thumbs-up"></i><span class="like_num">{{answer.total_likes}}</span>
		</button>
	{% else %}
		<button type="button" name="{{answer.pk}}" class="answer_like_button note_like_button_unliked">
			<i class="fas fa-thumbs-up"></i><span class="like_num">{{answer.total_likes}}</span>
		</button>
	{% endif %}
{% else %}
	<a class=" non_user_answer_like_button" href='{% url 'sensei_app:login' %}'>
		<i class="fas fa-thumbs-up"></i><span class="like_num">{{answer.total_likes}}</span>
	</a>
{% endif %}
