{% load markdownify %}
{% if content_poll %}<!-- ajax -->

{% elif question.poll_question %}
	<p class="poll_head">投票</p>
	{% if user.is_authenticated %}
		<form class="poll_vote" method="POST">{% csrf_token %}
		<div class="poll_question">
			{{question.poll_question}}
		</div>
		<div class="poll_sub_div">
			<div class="poll_total">
				<i class="fas fa-user-alt"></i><span>{{question.poll_result.poll_total}}</span>
			</div>
		</div>
    <div class="poll_options">
      <div class="poll_option">
				<button class="poll_option_button" id="{{question.pk}}" name="1">
	        <div class="left">
	          <span>1.</span>
	        </div>
	        <div class="right">
	          {{question.option_1}}
	        </div>
				</button>
					<div class="poll_bar" id="poll_bar_1">
						<span class="percentage">{{option_1_percentage}}%</span>
					</div>
      </div>
      <div class="poll_option">
				<button class="poll_option_button" id="{{question.pk}}" name="2">
	        <div class="left">
	          <span>2.</span>
	        </div>
	        <div class="right">
	          {{question.option_2}}
	        </div>
				</button>
					<div class="poll_bar" id="poll_bar_2">
						<span class="percentage">{{option_2_percentage}}%</span>
					</div>
      </div>
			{% if question.option_3 %}
        <div class="poll_option">
					<button class="poll_option_button" id="{{question.pk}}" name="3">
	          <div class="left">
	            <span>3.</span>
	          </div>
	          <div class="right">
	            {{question.option_3}}
	          </div>
					</button>
						<div class="poll_bar" id="poll_bar_3">
							<span class="percentage">{{option_3_percentage}}%</span>
						</div>
        </div>
			{% endif %}
			{% if question.option_4 %}
        <div class="poll_option">
					<button class="poll_option_button" id="{{question.pk}}" name="4">
	          <div class="left">
	            <span>4.</span>
	          </div>
	          <div class="right">
	            {{question.option_4}}
	          </div>
					</button>
						<div class="poll_bar" id="poll_bar_4">
							<span class="percentage">{{option_4_percentage}}%</span>
						</div>
        </div>
			{% endif %}
    </div>
	</form>
	{% else %}
		<div class="poll_vote">
			<div class="poll_question">
				{{question.poll_question}}
			</div>
			<div class="poll_sub_div">
				<button class="poll_result_open_button">投票結果を見る</button>
				<div class="poll_total">
					<i class="fas fa-user-alt"></i><span>{{question.poll_result.poll_total}}</span>
				</div>
			</div>
	    <div class="poll_options">
	      <div class="poll_option">
					<a class="poll_option_button_non_member" href="{% url 'sensei_app:login' %}">
		        <div class="left">
		          <span>1.</span>
		        </div>
		        <div class="right">
		          {{question.option_1}}
		        </div>
					</a>
					<div class="poll_bar" id="non_member_poll_bar_1">
						<span class="percentage">{{option_1_percentage}}%</span>
					</div>
	      </div>
	      <div class="poll_option">
					<a class="poll_option_button_non_member" href="{% url 'sensei_app:login' %}">
		        <div class="left">
		          <span>2.</span>
		        </div>
		        <div class="right">
		          {{question.option_2}}
		        </div>
					</a>
					<div class="poll_bar" id="non_member_poll_bar_2">
						<span class="percentage">{{option_2_percentage}}%</span>
					</div>
	      </div>
				{% if question.option_3 %}
	        <div class="poll_option">
						<a class="poll_option_button_non_member" href="{% url 'sensei_app:login' %}">
		          <div class="left">
		            <span>3.</span>
		          </div>
		          <div class="right">
		            {{question.option_3}}
		          </div>
						</a>
					<div class="poll_bar" id="non_member_poll_bar_3">
						<span class="percentage">{{option_3_percentage}}%</span>
					</div>
	        </div>
				{% endif %}
				{% if question.option_4 %}
	        <div class="poll_option">
						<a class="poll_option_button_non_member" href="{% url 'sensei_app:login' %}">
		          <div class="left">
		            <span>4.</span>
		          </div>
		          <div class="right">
		            {{question.option_4}}
		          </div>
						</a>
					<div class="poll_bar" id="non_member_poll_bar_4">
						<span class="percentage">{{option_4_percentage}}%</span>
					</div>
	        </div>
				{% endif %}
	    </div>
		</div>
	{% endif %}
{% else %}
{% endif %}
{% if already_voted == 1 %}
	<script type="text/javascript">
		$(document).ready(function(){
			var option_1_width = {{question.poll_result.option_1_percentage}}
			var option_2_width = {{question.poll_result.option_2_percentage}}
			var option_3_width = {{question.poll_result.option_3_percentage}}
			var option_4_width = {{question.poll_result.option_4_percentage}}
			$('#poll_bar_1').css("width", option_1_width + "%")
			$('#poll_bar_2').css("width", option_2_width + "%")
			$('#poll_bar_3').css("width", option_3_width + "%")
			$('#poll_bar_4').css("width", option_4_width + "%")

			$('#poll_bar_1 .percentage').text(option_1_width + "%");
			$('#poll_bar_2 .percentage').text(option_2_width + "%");
			$('#poll_bar_3 .percentage').text(option_3_width + "%");
			$('#poll_bar_4 .percentage').text(option_4_width + "%");

			$('.poll_total').css('display', 'block')
		})
	</script>
{% endif %}
{% if ajax_requested == 1 %}
<script type="text/javascript">

  /* poll submit*/
  var option_1_width = {{option_1_percentage}};
	var option_2_width = {{option_2_percentage}};
	var option_3_width = {{option_3_percentage}};
	var option_4_width = {{option_4_percentage}};

  $('#poll_bar_1').animate({width: option_1_width + "%"})
	$('#poll_bar_2').animate({width: option_2_width + "%"})
	$('#poll_bar_3').animate({width: option_3_width + "%"})
	$('#poll_bar_4').animate({width: option_4_width + "%"})

	$('.poll_total').show('fast')
</script>
{% endif %}
{% if not user.is_authenticated %}
	<script type="text/javascript">
		/* result_view for non members*/
		$(document).on('click', '.poll_result_open_button', function(){
			var option_1_width = {{question.poll_result.option_1_percentage}}
			var option_2_width = {{question.poll_result.option_2_percentage}}
			var option_3_width = {{question.poll_result.option_3_percentage}}
			var option_4_width = {{question.poll_result.option_4_percentage}}

		  $('#non_member_poll_bar_1').animate({width: option_1_width + "%"})
			$('#non_member_poll_bar_2').animate({width: option_2_width + "%"})
			$('#non_member_poll_bar_4').animate({width: option_4_width + "%"})
			$('#non_member_poll_bar_3').animate({width: option_3_width + "%"})

			$('#non_member_poll_bar_1 .percentage').text(option_1_width + "%");
			$('#non_member_poll_bar_2 .percentage').text(option_2_width + "%");
			$('#non_member_poll_bar_3 .percentage').text(option_3_width + "%");
			$('#non_member_poll_bar_4 .percentage').text(option_4_width + "%");

			$('.poll_total').show('fast')
		})
	</script>
{% endif %}
