{% extends 'sensei_app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}質問一覧{% endblock %}
{% block description %}
  質問一覧のページです
{% endblock %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/question.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper question_list_wrapper">
		<h1 class="section_head">みんなの質問</h1>
		<section class="left_column">
			<main class="questions">
				{% for question in object_list %}
					<article class="question_container">
						<a class="question_link" href="{% url 'sensei_app:question_detail' question.pk %}">
							<h2 class="question_title">{{ question.title }}</h2>
							<span class="question_created_at">投稿日時:{{ question.created_at | naturaltime}}</span>
							<a href="{% url 'sensei_app:question_category' question.category.category_slug %}" class="question_category question_category_{{ question.category.category_slug }}">{{ question.category }}</a>
							<br>
							{% if not question.login_author %}
								{% if question.author %}
									<span class="question_author">{{ question.author }}さん</span>
								{% else %}
									<span class="question_author">名無しさん</span>
								{% endif %}
							{% else %}
								<span class="question_author login_author_link">
									<a href="{% url 'sensei_app:activities_of_user' question.login_author.pk %}"><i class="fas fa-chalkboard-teacher"></i>{{question.login_author.nickname}}</a>
								</span>
							{% endif %}
							<p class="question_answers"><span>{{question.answers.count}}</span>件の回答</p>
						</a>
					</article>
				{% endfor %}
			</main>
		</section>
		<aside class="right_column">
			{% include 'sensei_app/Question/sidebar.html' %}
		</aside>
	</div>
</body>
{% endblock %}
