{% extends 'sensei_app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  {% if query %}
    「{{query}}」に関する質問
  {% elif selected_category %}
    「{{selected_category}}」に関する質問
  {% else %}
    質問一覧
  {% endif %}
{% endblock %}
{% block description %}
  質問一覧のページです
{% endblock %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/question.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper question_list_wrapper">
    {% if query %}
      <h1 class="search_result_head">
        <span class="query">{{query}}</span>に関する質問
      </h1>
    {% elif selected_category %}
      <h1 class="search_result_head">
        <span class="question_category">{{selected_category}}</span>に関する質問
      </h1>
    {% else %}
		  <h1 class="section_head">みんなの質問</h1>
    {% endif %}
		<section class="left_column">
			<main class="questions">
        {% if question_list %}
          {% include "sensei_app/Question/question_list_snippet.html" %}
        {% else %}
          条件に合う質問はまだありません
        {% endif %}
			</main>
			{% include 'sensei_app/pagination.html' %}
		</section>
		<aside class="right_column">
			{% include 'sensei_app/Question/sidebar.html' %}
		</aside>
	</div>
</body>
{% endblock %}
