{% extends "sensei_app/base.html" %}
{% block content %}
{% load markdownify %}
{% load static %}
{% load humanize %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/question.min.css' %}">

</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper question_list_wrapper all_wrapper">
		<p class="section_head">
      質問内容確認
		</p>
		<div class="left_column">
      <div class="content user_content">
        {{form.content.value|markdownify}}
      </div>
      <div class="buttons">
        <form action="{% url 'sensei_app:question_check' %}" method="POST">
          {% csrf_token %}
          <div class="hidden_form">
            <li id="title">{{form.title.value}}</li>
            <li id="category">{{form.category.value}}</li>
            <li id="author">{{form.author.value}}</li>
            <li id="content">{{form.content.value}}</li>
          </div>
          <button type="submit" name="yes">投稿する</button>
          <button type="submit" name="no">編集する</button>
        </form>

      </div>
		</div>
		<div class="right_column">
			{% include "sensei_app/Question/sidebar.html" %}
		</div>
	</div>
</body>
{% endblock %}
