{% extends 'sensei_app/base.html' %}
{% load static %}
{% load humanize %}
{% load markdownify %}
{% block title %}{{question.title}}{% endblock %}
{% block description %}
  質問一覧のページです
{% endblock %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/question.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper question_list_wrapper question_detail_wrapper">
		<main class="left_column">
      <div class="question_deteil_container">
        <div class="left_top">
				{% if question.answers == None %}
					{{question.answers}}
				{% endif %}
				<h1 class="question_title">{{question.title}}</h1>
        {% if not question.login_author %}
          {% if question.author %}
            <span class="question_author">{{ question.author }}<span class="san">さん</span></span>
          {% else %}
            <span class="question_author">名無しさん</span>
          {% endif %}
        {% else %}
          <a class="question_author login_author_link" href="{% url 'sensei_app:activities_of_user' question.login_author.pk %}"><i class="fas fa-chalkboard-teacher"></i>{{question.login_author.nickname}}<span class="san">さん</span></a>
        {% endif %}<br>
				<span class="question_created_at"><i class="far fa-clock"></i>{{ question.created_at | date:"Y/m/d f"}}</span><br>
        {% if addition_content %}
			    <a href="{% url 'sensei_app:question_category' question_category_slug %}" class="question_category question_category_{{ question.category.category_slug }}">{{ question.category }}</a>
        {% else %}
			    <a href="{% url 'sensei_app:question_category' question.category.category_slug %}" class="question_category question_category_{{ question.category.category_slug }}">{{ question.category }}</a>
        {% endif %}
			</div>
  			<article class="content question_content user_content">
          <div class="content_main">
            {{ question.content |markdownify}}
          </div>
          <div class="content_poll">
            {% include "sensei_app/Question/content_poll.html" %}
          </div>
          <div class="content_addition">
            {% include "sensei_app/Question/content_addition.html" %}
          </div>
  			</article>
      </div>
			<section class="answer_section">
				<div class="submit_answer">
          <div class="addition_wrapper">
            <div class="addition">
              {% include "sensei_app/Question/addition.html" %}
            </div>
            {% if request.user == question.login_author %}
              <a class="addition_button addition_open_button">質問の補足</a>
            {% endif %}
          </div>
          {% if request.user == question.login_author %}
            <a class="delete_button" href="{% url 'sensei_app:question_delete' question.pk  %}" onclick="return confirm('削除してもよろしいですか？');">この質問を削除する</a>
          {% endif %}
					<button class="answer_button">回答する</button>
				</div>
				<div class="answer_form_wrapper" style="display:none;">
					{% include 'sensei_app/Question/answer_form.html' %}
				</div>
        <div class="answers">
		      <p class="section_head">みんなの回答({{question.answer_reply_num}}件)</p>
	         {% include 'sensei_app/Question/comments.html' %}
				</div>

			</section><!-- answer_section end-->
		</main><!-- left column end -->
		<aside class="right_column">
			{% include 'sensei_app/Question/sidebar.html' %}
		</aside>
	</div>


	<script>
	$(document).on('click', '#answer_submit',function(event){
		event.preventDefault();
    	var checked = confirm("投稿してもよろしいでしょうか？")
    	if (checked == true){
    		var question_id = $(this).attr('name')
    		var answer_author = $('#answer_author_id').val()
    		var answer_content = $('#answer_content_id').val()
    		if(answer_author == undefined || answer_author == ""){
    			answer_author = '名無し'
    		}
    		$('.answer_form_wrapper').slideToggle()
    		$.ajax({
    			 type: "POST",
    			 url: "{% url 'sensei_app:answer_add' %}",
    			 data: {
    				'question_id': question_id,
    				'answer_author': answer_author,
    				'answer_content': answer_content,
    				'csrfmiddlewaretoken': '{{ csrf_token }}',
    		 },
    			 dataType: "json",
    			 success: function(response) {
    				 console.log('okay')
    					$('.answers').html(response['form'])
    					$('#answer_author_id').val('')
    					$('#answer_content_id').val('')
    				},

    		});
    	} else{
    		return false;
    	}
    })


	$(document).on('click', '.reply_submit_button',function(event){
		event.preventDefault();
    var checked = confirm("投稿してもよろしいでしょうか？")
    if (checked == true){
  		var answer_id = $(this).attr('id')
  		var reply_author = $('#reply_author_input' + answer_id).val()
  		var reply_content = $('#reply_content_textarea_' + answer_id).val()
  		if(reply_author == undefined || reply_author == ""){
  			reply_author = '名無し'
  		}
  		$('#reply_form_wrapper_' + answer_id).slideToggle()
  		$.ajax({
  			 type: "POST",
  			 url: "{% url 'sensei_app:reply_add' %}",
  			 data: {
  				'answer_id': answer_id,
  				'reply_author': reply_author,
  				'reply_content': reply_content,
  				'csrfmiddlewaretoken': '{{ csrf_token }}',
  		 },
  			 dataType: "json",
  			 success: function(response) {
  					$('#ajax_replies_' + answer_id).html(response['form'])
  					$('#reply_author_id').val('')
  					$('#reply_content_id').val('')
  			},
  		});
    } else{
      return false
    }
	})
/*addition*/
	$(document).on('click', '#addition_submit_button',function(event){
		event.preventDefault();
		var question_id = $(this).attr('name')
		var addition_content = $('#addition_content_textarea').val()
    $('.addition').toggle('fast')
		$.ajax({
			 type: "POST",
			 url: "{% url 'sensei_app:question_addition' %}",
			 data: {
				'addition_question_id': question_id,
				'addition_content': addition_content,
				'csrfmiddlewaretoken': '{{ csrf_token }}',
		 },
			 dataType: "json",
			 success: function(response) {
					$('.content_addition').html(response['addition'])
          $('#addition_content_textarea').val('')
				},

		});

		})

/*poll_vote*/
	$(document).on('click', '.poll_option_button',function(event){
		event.preventDefault();
		var question_id = $(this).attr('id')
    var selected_option = $(this).attr('name')
		$.ajax({
			 type: "POST",
			 url: "{% url 'sensei_app:question_vote_poll' %}",
			 data: {
				'question_id': question_id,
        'selected_option': selected_option,
				'csrfmiddlewaretoken': '{{ csrf_token }}',
		 },
			 dataType: "json",
			 success: function(response) {
					$('.content_poll').html(response['poll_vote'])
          poll_bar_toggle()
				},


		});
		})

  /* poll submit
  var option_1_width = {{question.poll_result.option_1_percentage}}
  var option_2_width = {{question.poll_result.option_2_percentage}}
  var option_3_width = {{question.poll_result.option_3_percentage}}
  var option_4_width = {{question.poll_result.option_4_percentage}}

  $('#poll_bar_1').width(option_1_width + "%")
  $('#poll_bar_2').width(option_2_width + "%")
  $('#poll_bar_3').width(option_3_width + "%")
  $('#poll_bar_4').width(option_4_width + "%")
*/

		</script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</body>
{% endblock %}
