{% extends 'sensei_app/base.html' %}
{% load static %}
{% load humanize %}
{% load markdownify %}
{% block title %}質問一覧{% endblock %}
{% block description %}
  質問一覧のページです
{% endblock %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/question.min.css' %}">
	<link rel="stylesheet" href="{% static 'sensei_app/css/content.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper question_list_wrapper question_detail_wrapper">
		<main class="left_column">
			<div class="left_top">
				{% if object.answers == None %}
					{{object.answers}}
				{% endif %}
				<h1 class="section_head">{{object.title}}</h1>
				<span class="question_created_at">投稿日時:{{ object.created_at | naturaltime}}</span><br>
				<a href="{% url 'sensei_app:question_category' object.category.category_slug %}" class="question_category question_category_{{ object.category.category_slug }}">{{ question.category }}</a>
				<br>
				{% if not object.login_author %}
					{% if object.author %}
						<span class="question_author">{{ object.author }}<span class="san">さん</span></span>
					{% else %}
						<span class="question_author">名無しさん</span>
					{% endif %}
				{% else %}
					<a class="question_author login_author_link" href="{% url 'sensei_app:activities_of_user' object.login_author.pk %}"><i class="fas fa-chalkboard-teacher"></i>{{object.login_author.nickname}}<span class="san">さん</span></a>
				{% endif %}
			</a>
			</div>
			<article class="content question_content">
				{{ object.content |markdownify}}
			</article>
			<section class="answer_section">
				<div class="submit_answer">
					<a class="strong_button" href="{% url 'sensei_app:answer' object.pk %}">回答する</a>
				</div>
				<p class="section_head">みんなの回答({{question.answers.count}}件)</p>
				<div class="answers">
					{% if object.answers.all %}<!-- if any answer -->
						{% for answer in object.answers.all %}<!-- all answers-->
							{% if not answer.answer %}<!-- excluding replies-->
								{% if answer.login_author %}<!-- if the answerer is a member-->
									{% if answer.login_author == object.login_author %}<!-- if quesioner and answerer are the same -->
										<div class="answer answer_same">
											<a class="answer_author answer_login_author" href="{% url 'sensei_app:activities_of_user' answer.login_author.pk %}"><i class="fas fa-chalkboard-teacher"></i>{{answer.login_author.nickname}}<span class="san">さん</span></a>
											<p class="answer_date">回答日時: {{answer.created_at|naturaltime}}</p>
											<a class="reply_button" href="{% url 'sensei_app:reply' answer.pk %}">返信する</a>
											<div class="content answer_content">
												{{answer.content|markdownify}}
											</div>
										</div>
									{% else %} <!--if questioner and answerer are different-->
										<div class="answer">
											<a class="answer_author answer_login_author" href="{% url 'sensei_app:activities_of_user' answer.login_author.pk %}"><i class="fas fa-chalkboard-teacher"></i>{{answer.login_author.nickname}}<span class="san">さん</span></a>
											<p class="answer_date">回答日時: {{answer.created_at|naturaltime}}</p>
											<a class="reply_button" href="{% url 'sensei_app:reply' answer.pk %}">返信する</a>
											<div class="content answer_content">
												{{answer.content|markdownify}}
											</div>
										</div>
									{% endif %}<!--same or different end-->
								{% else %}<!-- if the answerer is not a member-->
									<div class="answer">
										<p class="answer_author">{{answer.author}}<span class="san">さん</span></p>
										<p class="answer_date">回答日時: {{answer.created_at|naturaltime}}</p>
										<a class="reply_button" href="{% url 'sensei_app:reply' answer.pk %}">返信する</a>
										<div class="content answer_content">
											{{answer.content|markdownify}}
										</div>
									</div>
								{% endif %}<!-- member or not member end if-->
							{% endif %}<!-- excluding replies end-->
							{% for reply in answer.answer_answer.all|dictsort:'created_at' %}<!--replies-->
								{% if reply.login_author %}<!-- if the answerer is a member-->
									{% if reply.login_author == object.login_author %}<!-- if quesioner and answerer are the same -->
										<div class="answer reply answer_same">
											<a class="answer_author answer_login_author" href="{% url 'sensei_app:activities_of_user' reply.login_author.pk %}"><i class="fas fa-chalkboard-teacher"></i>{{reply.login_author.nickname}}<span class="san">さん</span></a>
											<p class="answer_date">回答日時: {{reply.created_at|naturaltime}}</p>
											<div class="content answer_content">
												{{reply.content|markdownify}}
											</div>
										</div>
									{% else %} <!--if questioner and answerer are different-->
										<div class="answer reply">
											<a class="answer_author answer_login_author" href="{% url 'sensei_app:activities_of_user' reply.login_author.pk %}"><i class="fas fa-chalkboard-teacher"></i>{{reply.login_author.nickname}}<span class="san">さん</span></a>
											<p class="answer_date">回答日時: {{reply.created_at|naturaltime}}</p>
											<div class="content answer_content">
												{{reply.content|markdownify}}
											</div>
										</div>
									{% endif %}<!--same or different end-->
								{% else %}<!-- if the answerer is not a member-->
									<div class="answer reply">
										<p class="answer_author">{{reply.author}}<span class="san">さん</span></p>
										<p class="answer_date">回答日時: {{reply.created_at|naturaltime}}</p>
										<div class="content answer_content">
											{{reply.content|markdownify}}
										</div>
									</div>
								{% endif %}<!-- member or not member end if-->
							{% endfor %}<!--replies-->
						{% endfor %}<!-- all answers endfor -->
					{% else %}<!-- if no answer-->
						<p style="font-size:1.2rem; ">まだ回答がありません</p>
					{% endif %}<!-- if any answer end-->
				</div>

			</section><!-- answer_section end-->
		</main><!-- left column end -->
		<aside class="right_column">
			{% include 'sensei_app/Question/sidebar.html' %}
		</aside>
	</div>
</body>
{% endblock %}
