{% extends 'sensei_app/base.html' %}
{% load static %}
{% load humanize %}
{% load markdownify %}
{% block title %}質問一覧{% endblock %}
{% block description %}
  質問一覧のページです
{% endblock %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/question.min.css' %}">
	<link rel="stylesheet" href="{% static 'sensei_app/css/content.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper question_list_wrapper question_detail_wrapper">
		<main class="left_column">
			<div class="left_top">
				{% if object.answers == None %}
					{{object.answers}}
				{% endif %}
				<h1 class="section_head">{{object.title}}</h1>
				<span class="question_created_at">投稿日時:{{ object.created_at | naturaltime}}</span><br>
				<a href="{% url 'sensei_app:question_category' object.category.category_slug %}" class="question_category question_category_{{ object.category.category_slug }}">{{ question.category }}</a>
				<br>
				{% if not object.login_author %}
					{% if object.author %}
						<span class="question_author">{{ object.author }}さん</span>
					{% else %}
						<span class="question_author">名無しさん</span>
					{% endif %}
				{% else %}
					<span class="question_author login_author_link">
						<a href="{% url 'sensei_app:activities_of_user' object.login_author.pk %}"><i class="fas fa-chalkboard-teacher"></i>{{object.login_author.nickname}}さん</a>
					</span>
				{% endif %}
			</a>
			</div>
			<article class="content question_content">
				{{ object.content |markdownify}}
			</article>
			<section class="answer_section">
				<div class="submit_answer">
					<a class="strong_button" href="{% url 'sensei_app:answer' object.pk %}">回答する</a>
				</div>
				<p class="section_head">みんなの回答({{question.answers.count}}件)</p>
				{% if object.answers.all %}
					<div class="answers">
						{% for answer in object.answers.all %}
							{% if not answer.answer %}<!--if not a reply-->
								<div class="answer answer_same">
									{% if answer.author %}
								<span  class="answer_author">{{answer.author}}</span>さんのコメント</span>
									{% else %}
									<span  class="answer_author">名無しさんさんのコメント</span>
									{% endif %}
									<p class="answer_date">回答日時: {{answer.created_at|naturaltime}}</p>
									<a class="reply_button" href="{% url 'sensei_app:reply' answer.pk %}">返信する</a>
									<div class="content answer_content">
										{{answer.content|markdownify}}
									</div>
								</div>
										{% for reply in answer.answer_answer.all %}
												<div class="answer reply">
													{% if reply.author %}
														<span class="answer_author"><span>{{reply.author}}</span>さんのコメント</span>
													{% else %}
														<span class="answer_author"><span>{{reply.author}}</span>さんのコメント</span>
													{% endif %}
														<p class="answer_date">回答日時: {{reply.created_at|naturaltime}}</p>
														<div class="content answer_content">
															{{reply.content|markdownify}}
														</div>
													</div>
											{% endfor %}
										{% endif %}
								{% endfor %}
							</div>
						{% else %}
							<p style="font-size: 1.3rem;">まだ回答がありません</p>
						{% endif %}
					</section>
				</main>
		<aside class="right_column">
			{% include 'sensei_app/Question/sidebar.html' %}
		</aside>
	</div>
</body>
{% endblock %}
