{% load markdownify %}
{% for question in question_list %}
<article class="question_container">
  <a class="question_title" href="{% url 'sensei_app:question_detail' question.pk %}">
    {{question.title}}
  </a>
  <div class="meta_info">
    {% if not question.login_author %}
      {% if question.author %}
        <div class="user">{{ question.author }}</div>
      {% else %}
        <div class="user">名無し</div>
      {% endif %}
    {% else %}
      <a class="user" href="{% url 'sensei_app:activities_of_user' question.login_author.pk %}">{{question.login_author.nickname}}</a>
    {% endif %}
    <div class="date">
      {{ question.created_at|date:"Y/m/d f"}}
    </div>
    <div class="comment">
      {{question.answer_reply_num}}
    </div>
    {% if question.poll_question %}
      <div class="poll">
        投票有
      </div>
    {% endif %}
    <a class="category" href="{% url 'sensei_app:question_category' question.category.category_slug %}">{{ question.category }}</a>
    <div class="content_beginning">
      {% with question.content|markdownify as markdown_content %}
        {{markdown_content|slice:":100"}}
      {% endwith %}
    </div>
  </div>
</article>
{% endfor %}