{% load markdownify %}
{% load markdownx %}

	<div class="difficulty">
		{% if exp.difficulty == 1 %}
			<span class="difficulty_{{exp.difficulty}}">絶対落とせない!</span>
		{% elif exp.difficulty == 2 %}
			<span class="difficulty_{{exp.difficulty}}">落としたくない!</span>
		{% elif exp.difficulty == 3 %}
			<span class="difficulty_{{exp.difficulty}}">難しい!</span>
		{% endif %}
	</div>
<div class="meta_info">
	<div class="update">
		<i class="far fa-clock"></i>{{exp.updated}}
	</div>
	<div class="tags">
		{% for tag in exp.tag.all %}
			<a class="tag" href="{% url 'sensei_app:exp_tag_list' tag.tag_slug %}">{{tag}}</a>
		{% endfor %}
	</div>
</div>
<div class="explanation content">
	{{ exp.explanation|markdown_to_html }}

	{% if exp.answer_1 %}
	<div class="answer_exp_container">
		<div class="answer_exp {% if exp.answer == 1 %}correct_answer{% endif %}"><!--answer_1-->
			{% if exp.answer_abc %}
				<div class="answer_exp_left">
					<p>a</p>
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_1|markdown_to_html}}
				</div>
			{% else %}
				<div class="answer_exp_left">
					<p>1</p>
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_1|markdown_to_html}}
				</div>
			{% endif %}
		</div>
		<div class="answer_exp {% if exp.answer == 2 %}correct_answer{% endif %}"><!--answer_2-->
			{% if exp.answer_abc %}
				<div class="answer_exp_left">
					<p>b</p>
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_2|markdown_to_html}}
				</div>
			{% else %}
				<div class="answer_exp_left">
					<p>2</p>
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_2|markdown_to_html}}
				</div>
			{% endif %}
		</div>
		<div class="answer_exp {% if exp.answer == 3 %}correct_answer{% endif %}"><!--answer_3-->
			{% if exp.answer_abc %}
				<div class="answer_exp_left">
					<p>c</p>
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_3|markdown_to_html}}
				</div>
			{% else %}
				<div class="answer_exp_left">
					<p>3</p>
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_3|markdown_to_html}}
				</div>
			{% endif %}
		</div>
		<div class="answer_exp {% if exp.answer == 4 %}correct_answer{% endif %}"><!--answer_4-->
			{% if exp.answer_abc %}
				<div class="answer_exp_left">
					<p>d</p>
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_4|markdown_to_html}}
				</div>
			{% else %}
				<div class="answer_exp_left">
					<p>4</p>
				</div>
				<div class="answer_exp_right exp_content">
					{{exp.answer_4|markdown_to_html}}
				</div>
			{% endif %}
		</div>
		{% if exp.answer_5 %}
			<div class="answer_exp {% if exp.answer == 5 %}correct_answer{% endif %}"><!--answer_5-->
				{% if exp.answer_abc %}
					<div class="answer_exp_left">
						<p>3</p>
					</div>
					<div class="answer_exp_right exp_content">
						{{exp.answer_5|markdown_to_html}}
					</div>
				{% else %}
					<div class="answer_exp_left">
						<p>5</p>
					</div>
					<div class="answer_exp_right exp_content">
						{{exp.answer_5|markdown_to_html}}
					</div>
				{% endif %}
			</div>
		{% endif %}
	</div>
	{% endif %}
	<div class="after_exp">
		{% if exp.after_exp %}
			{{ exp.after_exp|markdown_to_html }}
		{% endif %}
	</div>
</div>
