{% extends "sensei_app/base.html" %}
{% load markdownify %}
{% load static %}
{% block content %}

<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/common_new.min.css' %}">
	<link rel="stylesheet" href="{% static 'sensei_app/css/jltct.min.css' %}">
</head>
<body>
	<div class="navbar">
		{% include 'sensei_app/navbar.html' %}
	</div><!-- /.navbar -->
  <div class="wrapper jltct_wrapper">
    <h1 class="section_head">日本語教育能力検定試験</h1>
		<section class="left_column">
			<section class="subsection_exam_exp">
				<h2 class="subsection_head" id="exp_section">過去問解説</h2>
			</section>
			<section class="subsection">
				{% include "sensei_app/JLTCT/Exp/exp_search_snippet.html" %}
			</section>
		</section>
		<section class="right_column">
			{% include 'sensei_app/JLTCT/sidebar.html' %}
		</section>
  </div>
</body>

{% endblock %}
