{% extends 'sensei_app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}教材をアップロードする{% endblock %}
{% block description %}

{% endblock %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/material.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper material_wrapper">
		<p class="section_head">みんなの教材</p>
		{% if result == 1 %}
			{% include "sensei_app/result.html" %}
		{% endif %}
		<div class="left_column">
			<div class="materials_container">
				{% for material in materials %}
					<div class="material_container">
						<div class="material_top">
							<div class="material_title">
								{{material.title}}
							</div>
							{% if user.is_authenticated  %}
								<a class="download_button" href="{{material.file.url}}">ダウンロード</a>
								<a class="download_button download_button_small" href="{{material.file.url}}"></a>
							{% else %}
								<a class="download_button" href="{% url 'sensei_app:login' %}">ダウンロード</a>
								<a class="download_button download_button_small" href="{% url 'sensei_app:login' %}"></a>
							{% endif %}
						</div>
						<div class="meta_info">
							<div class="date">
								{{material.upload_at|date:"Y/m/d f"}}
							</div>
							<a class="user" href="{% url 'sensei_app:activities_of_user' material.uploader.pk %}">
								{{material.uploader.nickname}}
							</a>
							<a class="category" href="{% url 'sensei_app:material_category_list' material.category.category_slug %}">
								{{material.category}}
							</a>
							<div class="tags">
								{% if material.tag.all %}
									{% for tag in material.tag.all %}
										<a class="tag" href="{% url 'sensei_app:material_tag_list' tag.tag_slug %}">{{tag.tag}}</a>
									{% endfor %}
								{% endif %}
							</div>
						</div>
						{% if material.description %}
							<div class="material_desc">
								{{material.description}}
							</div>
						{% endif %}						
					</div>
				{% endfor %}
			</div>
			{% include "sensei_app/pagination.html" %}
		</div>
		<div class="right_column">
			{% include "sensei_app/Material/sidebar.html" %}
		</div>

</div>

{% endblock %}
