{% load static %}
<!DOCTYPE html>
<html lang="ed">
<script>
  (function(d) {
    var config = {
      kitId: 'blc4ntp',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}集まれ日本語教師!{% endblock %}</title>
    <meta name="description" content="{% block description %}「集まれ日本語教師!」へようこそ!{% endblock %}">
		<!--CSS-->
		<link rel="stylesheet" href="{% static 'sensei_app/css/destyle.css' %}">
		<link rel="stylesheet" href="{% static 'sensei_app/css/common.min.css' %}">

		<!-- fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
		<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
		<!--favicon-->
		<link rel="icon" href="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Favicon/AtsumareNihongoKyoushi.ico.png">

    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="{% static 'sensei_app/js/all.js' %}"></script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174251992-1"></script>
		<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-174251992-1');
		</script>
		<meta name="google-site-verification" content="34_I_xL-q94H9GM9ZSUkrGlE641CMWtlghZPkwboMzk" />
  </head>
  {% block content %}

  {% endblock %}

</body>

</html>
