<section>
  <a class="toppage_card" href="{% url 'sensei_app:jltct_top' %}">
    <div class="card_img">
      <img src="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Toppage/Toppage_Contact.png" alt="">
    </div>
    <div class="card_right">
      <h1 class="card_top">日本語教育能力検定試験</h1>
      <p class="card_desc">過去問</p>
    </div>
  </a>
</section>



$(document).on('click', '.reply_submit_button',function(event){
  event.preventDefault();
  var answer_id = $(this).attr('id')
  var reply_author = $('#reply_author_id').val()
  var reply_content = $('#reply_content_id').val()
  if(reply_author == undefined || reply_author == ""){
    reply_author = '名無し'
  }
  $('#reply_form_wrapper_' + answer_id).slideToggle()
  $.ajax({
     type: "POST",
     url: "{% url 'sensei_app:reply_add' %}",
     data: {
      'answer_id': answer_id,
      'reply_author': reply_author,
      'reply_content': reply_content,
      'csrfmiddlewaretoken': '{{ csrf_token }}',
   },
     dataType: "json",
     success: function(response) {
        $('.ajax_replies').html(response['form'])
        $('#reply_author_id').val('')
        $('#reply_content_id').val('')
      },

  });

    })
