{% load static %}
<link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
<link rel="stylesheet" href="{% static 'sensei_app/css/navbar.min.css' %}">
<body>
<div class="navbar_wrapper" id="navbar">
<nav class="navbar">
	<div class="navbar_logo">
	  <a class="logo_container" href="/"><i class="fas fa-hands-helping"></i><span>集まれ日本語教師!</span></a>
	</div>

  <ul class="navbar_list">
		<!--
		{% if user.is_authenticated %}
		<li class= "navbar_item">
			<a class="nav-item nav-link" href="{% url 'sensei_app:user_detail' user.pk %}">
				マイページ
			</a>
		</li>

		<li class="navbar_item">
			<a  href="{% url 'sensei_app:logout' %}">
				ログアウト
			</a>
		</li>
		{% else %}
			<li class="navbar_item">
				<a href="{% url 'sensei_app:login' %}">
				 ログイン
			 </a>
		 </li>
		{% endif %}
    <li class="navbar_item">
      <a href="{% url 'sensei_app:question_list' %}">
        みんなの質問
      </a>
    </li>
		-->
		<li class="navbar_item">
			<a href="{% url 'sensei_app:jltct_top' %}">
				日本語教育能力検定試験
			</a>
		</li>
		<li class="navbar_item">
			<a href="{% url 'sensei_app:contact_add' %}">
				お問い合わせ
			</a>
		</li>

  </ul>

  <a class="navbar_button" href="#" onclick="drop()" ><i class="fas fa-bars"></i></a>
</nav>
</div>
<ul class="navbar_list_collapse" id="navbar_collapse">
	<!--
	{% if user.is_authenticated %}
	<li class= "navbar_item_collapse">
		<a class="nav-item nav-link" href="{% url 'sensei_app:user_detail' user.pk %}">
			マイページ
		</a>
	</li>

	<li class="navbar_item_collapse">
		<a  href="{% url 'sensei_app:logout' %}">
			ログアウト
		</a>
	</li>
	{% else %}
		<li class="navbar_item_collapse">
			<a href="{% url 'sensei_app:login' %}">
			 ログイン
		 </a>
	 </li>
	{% endif %}
	<li class="navbar_item_collapse">
		<a href="{% url 'sensei_app:question_list' %}">
			みんなの質問
		</a>
	</li>
-->
	<li class="navbar_item_collapse">
		<a href="{% url 'sensei_app:jltct_top' %}">
			日本語教育能力検定試験
		</a>
	</li>
	<li class="navbar_item_collapse">
		<a href="{% url 'sensei_app:contact_add' %}">
			お問い合わせ
		</a>
	</li>
</ul>
</body>
