{% load static %}
<link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
<link rel="stylesheet" href="{% static 'sensei_app/css/navbar.min.css' %}">
<body>
<div class="navbar_wrapper" id="navbar">
<nav class="navbar">
	<div class="navbar_logo">
	  <a href="/">Logo Here </a>
	</div>
  <ul class="navbar_list">
    <li class="navbar_item">
      <a href="{% url 'sensei_app:question_list' %}">
        みんなの質問
      </a>
    </li>
		<li class="navbar_item">
			<a href="{% url 'sensei_app:question_list' %}">
				問い合わせ
			</a>
		</li>

  </ul>
  <a class="navbar_button" href="#" onclick="drop()" ><i class="fas fa-bars"></i></a>
</nav>
</div>
<ul class="navbar_list_collapse" id="navbar_collapse">
	<li class="navbar_item_collapse">
		<a href="{% url 'sensei_app:question_list' %}">
			質問
		</a>
	</li>
	<li class="navbar_item_collapse">
		<a href="{% url 'sensei_app:question_list' %}">
			質問
		</a>
	</li>
	<li class="navbar_item_collapse">
		<a href="{% url 'sensei_app:question_list' %}">
			質問
		</a>
	</li>
	<li class="navbar_item_collapse">
		<a href="{% url 'sensei_app:question_list' %}">
			質問
		</a>
	</li>
</ul>
</body>
