{% extends 'sensei_app/base.html' %}
{% load static %}
{% load humanize %}
{% load markdownify %}
{% block title %}
	プライバシーポリシー
{% endblock %}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/register.min.css' %}">
</head>
<body>
	<div class="navbar">
		{% include 'sensei_app/navbar.html' %}
	</div><!-- /.navbar -->
	<div class="wrapper terms_conditions_wrapper">
		<div class="terms_conditions_container">
			<div class="terms_conditions_content">
				{{policy.content|markdownify}}
			</div><!-- /.terms_conditions_content -->
				<div class="terms_date">
					{% if terms.content %}
						<p class="terms_date_update">{{policy.update_at}}<span>更新</span>
						</p>
					{% endif %}
					<p class="terms_date_create">{{policy.create_at}}<span>作成</span></p>
				</div>
		</div>

	</div>
</body>
{% endblock %}
