{% extends 'sensei_app/base.html' %}
{% block content %}
{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/sitedesc.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper sitedesc_wrapper">
		<p class="section_head">「集まれ日本語教師!」とは？</p>
		<div class="sitedesc_container">
			<p class="top_desc">
				「集まれ日本語教師!」は日本語教育に携わる人が集まるコミュニティです。日本語教育に興味がある方であれば、日本語教師歴・国籍・年齢・性別等は一切問いません!「集まれ日本語教師!」では以下のサービスを提供しています。
			</p>
			<div class="services_container">
				<div class="service_container">
					<h3 class="service_name">
						みんなの質問
					</h3>
					<div class="service_desc_container">
						<div class="service_desc">
							<p>
								「みんなの質問」では、日本語・日本語教育に関する質問を誰でもすることができます。どんな些細なことでも質問してみてください。あなたが疑問に思っているということは、他の人も同じ疑問を抱いているはずです。もちろん、回答することもできるので、自分の知識のアウトプットも兼ねて、みんなの質問に答えましょう!
							</p>
							<div class="login_user">
								<li>「マイページ」で自分の質問・回答を確認することができます。</li>
								<li>過去の質問・回答を削除することができます</li>
								<li>自分の質問に「補足」を追加することができます</li>
								<li>自分の質問に「投票」を追加して、みなさんにアンケートをとることができます。</li>
							</div>
						</div>
						<div class="service_img">
							<img src="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Toppage/toppage_questions.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
