{% extends 'sensei_app/base.html' %}
{% block content %}
{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'sensei_app/css/toppage.min.css' %}">
</head>
<body>
	{% include 'sensei_app/navbar.html' %}
	<div class="wrapper toppage_wrapper">

		{% if not user.is_authenticated %}
		 <section>
			 <a class="toppage_card" href="{% url 'sensei_app:login' %}">
				 <div class="card_img">
					 <img src="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Toppage/toppage_login.png" alt="">
				 </div>
				 <div class="card_right">
					 <h1 class="card_top">ログイン</h1>
					 <p class="card_desc">ログイン後に質問、回答をすると、あなたの過去の記録がマイページで確認できるようになります。</p>
				 </div>
			 </a>
		 </section>
	 {% else %}
		 <section>
			 <a class="toppage_card" href="{% url 'sensei_app:user_detail' user.pk %}">
				 <div class="card_img">
					 <img src="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Toppage/toppage_mypage.png" alt="">
				 </div>
				 <div class="card_right">
					 <h1 class="card_top">マイページ</h1>
					 <p class="card_desc">会員情報の変更、過去の質問、回答の確認ができます。</p>
				 </div>
			 </a>
		 </section>
	 {% endif %}

		<section>
			<a class="toppage_card" href="{% url 'sensei_app:question_list' %}">
				<div class="card_img">
					<img src="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Toppage/toppage_questions.png" alt="">
				</div>
				<div class="card_right">
					<h1 class="card_top">みんなの質問</h1>
					<p class="card_desc">あなたが疑問に思っていることは皆さんも疑問に思っているはず!自分だけでなく皆さんのためにも質問をしてみましょう!</p>
				</div>
			</a>
		</section>
		<section>
			<a class="toppage_card" href="{% url 'sensei_app:contact_add' %}">
				<div class="card_img">
					<img src="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Toppage/Toppage_Contact.png" alt="">
				</div>
				<div class="card_right">
					<h1 class="card_top">お問い合わせ</h1>
					<p class="card_desc">「集まれ日本語教師!」をより良いコミュニティーにするためにあなたのご意見が必要です!疑問点、改善点、要望などなんでも受け付けております。</p>
				</div>
			</a>
		</section>
		<section>
			<a class="toppage_card" href="{% url 'sensei_app:jltct_top' %}">
				<div class="card_img">
					<img src="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Toppage/Toppage_Contact.png" alt="">
				</div>
				<div class="card_right">
					<h1 class="card_top">日本語教育能力検定試験</h1>
					<p class="card_desc">過去問</p>
				</div>
			</a>
		</section>
		{% if user.is_authenticated %}
		<section>
			<a class="toppage_card" href="{% url 'sensei_app:logout' %}">
				<div class="card_img">
					<img src="https://nihongosensei.s3-ap-northeast-1.amazonaws.com/media/Toppage/toppage_logout.png" alt="">
				</div>
				<div class="card_right">
					<h1 class="card_top">ログアウト</h1>
					<p class="card_desc">さようなら!</p>
				</div>
			</a>
		</section>
		{% endif %}


	</div>
</body>
{% endblock %}
